{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<a class="block-link block-link--icon" href="{{ route({'page': link.path.page}) }}">
    {{ channel.name|t(locales) }}
</a>
