{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="leader  |  trailer  |  wings">
  <a class="heading heading--hero  |  gutters" href="javascript:void(0)">
    {{ container_label|t(locales) }}
  </a>
  <p class="gutters  |  leader  |  trailer">A Youth in Agriculture workshop was held as part of the Caribbean Farmers Network (CaFAN's) overall strategy to get more young people involved in farming. More than 45 people, 40 of them under 35, attended the CTA-supported workshop, which was held in Grenada in January.</p>
  <a class="gutters  |  read-more" href="javascript:void(0)">Read more...</a>
</div>
<div class="pin-box  |  wings">
  <div class="pin-box__cell  |  gutters">
    <ul class="reset">
      <li class="trailer--tiny">
        <a class="block-link block-link--icon  |  is-heir" href="javascript:void(0)">Launch of the Fish Farming AgriHack in West Africa</a>
      </li>
      <li class="trailer--tiny">
        <a class="block-link block-link--icon  |  is-heir" href="javascript:void(0)">Meet the winners of the Durban AgriHack Talent Challenge</a>
      </li>
      <li class="trailer--tiny">
        <a class="block-link block-link--icon  |  is-heir" href="javascript:void(0)">The Durban AgriHack Challenge is now open: Win cash prize and develop your career opportunities!</a>
      </li>
    </ul>
  </div>
</div>
<em class="headline__tax  |  wings"><span class="label  |  gutters">{{  container_title|t(locales) }}</span></em>
