<div class="media  |  leader--small">
    <div class="anchor  |  media__figure">
        <a class="is-heir  |  icon icon--link icon--drop" href="{{ link.url }}" target="_blank"></a>
    </div>
    <div class="anchor  |  media__body  |  gutters">
        <a class="is-heir  |  body--whisper" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    </div>
</div>
