{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% if config.show_link|default(0) %}
    <a class="title title--filter  |  anchor  |  is-heir" href="{{ route({'page': 'events'}) }}">{{ 'View all'|i18n }} {{ labels.container_title|lower|t(locales) }}</a>
{% endif %}
