{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<p class="{{ config.large_lead ? 'lead lead--l' : 'lead'}}  |  trailer  |  gutters">{{ labels.lead|t(locales) }}</p>
{% for paragraph in labels.body %}
<p class="trailer  |  gutters">{{ paragraph|t(locales)|raw }}</p>
{% endfor %}
