<div class="gutters">
    <blockquote class="pull-quote"><div class="pull-quote__content">{{ contentBlock.content|replace({'b>': 'strong>', 'i>': 'em>', 'u>': 'cite>'})|replace({'<cite>': '<cite class="author">', '  ': ' '})|striptags('<strong><em><u><a><sub>sub><sup><cite>')|md|raw }}</div></blockquote>
</div>
