<div class="paragraph  |  gutters">
{{ contentBlock.content|appendBlankTarget|replace({'b>': 'strong>', '<i>': '<em>', '</i>': '</em>'})|striptags('<strong><em><u><a><sub><sup><br><ol><li>')|raw }}
</div>
