{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<figure class="gutters  |  leader leader-inside--small  |  trailer trailer-inside--small">
    <img class="image image--stretch" src="{{ contentBlock.url }}" alt="{{ contentBlock.about|t(locales)|default(article.headline) }}" />
    {% if contentBlock.about|t(locales) or contentBlock.credit|t(locales) %}
        <figcaption class="well well--neutral  |  leader-inside--small  |  trailer-inside--small">
            {% if contentBlock.about %}
                <p class="caption">{{ contentBlock.about|t(locales) }}</p>
            {% endif %}
            {% if contentBlock.credit %}
                <p class="credit">{{ contentBlock.credit|t(locales) }}</p>
            {% endif %}
        </figcaption>
    {% endif %}
</figure>
