<div class="leader  |  trailer  |  gutters">
    <figure class="media media--full-width  |  divider divider--top divider--bottom  |  video video__frame">
        {{ contentBlock.content|striptags('<iframe>')|raw }}
    </figure>
</div>
