{% import "macros/template.html.twig" as helper %}
{% if model.articles|length > 0 %}
    {% set model = model.articles %}
{% elseif model|length > 0 %}
    {% set model = model %}
{% endif %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>

    {% include "partials/article/post-hero.html.twig" with {model: model|first} %}
    <div class="grid grid--posts  |  leader--hero  |  wing--right">
        {% for article in model|slice(1, 4) %}
            <div class="grid__cell  |  gutters">
                {% include "partials/article/post.html.twig" with {model: article} %}
            </div>
        {% endfor %}
    </div>

</{{ config.container_tag|default('div') }}>
