.card-slider {
    .slick-slide, .slick-track {
        display: flex !important;
    }
    .slick-slide {
        flex-basis: auto;
        height: auto !important;
    }
}
.card-slider {
    flex-wrap: wrap;
    &__slide {
        display: flex;
        flex: 0 0 8 / 12 * 100vw;
        max-width: 8 / 12 * 100vw;
    }
    &__double-slide {
        // kicks in at larger breakpoint
    }
    // @include breakpoint($gt-medium-handheld) {
    //     &__slide {
    //         flex-basis: 6 / 12 * 100vw;
    //         max-width: 6 / 12 * 100vw;
    //     }
    // }
    @include breakpoint($gt-small-desktop) {
        &__slide {
            flex-basis: 4 / 18 * 100vw;
            max-width: 4 / 18 * 100vw;
        }
        &__double-slide {
            flex-basis: 8 / 18 * 100vw;
            max-width: 8 / 18 * 100vw;
        }
    }
    @include breakpoint($gt-medium-desktop) {
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    &__label,
    &__theme {
        position: absolute;
        left: 0;
    }
    &__label {
        top: 0;
    }
    &__theme {
        bottom: 0;
        right: 0;
        padding: rhythm(3) 0 0 0;
    }
    &__image {
        position: relative;
    }
    &__body {
        flex-grow: 1;
    }

    &__post {
        border-bottom: .5px solid rgba(0,0,0, .26);
        &:first-child:last-child {
            border-bottom: 0;
        }
    }

    @include breakpoint($gt-large-handheld) {
        &--wide {
            flex-direction: row;
            position: relative;
        }
        &--wide &__image {
            flex-basis: 50%;
            width: 50%;
            flex-shrink: 0;
            position: static;
            padding-right: gutter(1);
        }
        .post__content .heading {
            padding-top: rhythm(1);
            font-size: to-unit(16px);
        }
    }

    @include breakpoint($gt-medium-desktop) {
        &--wide &__image {
            flex-basis: 4 / 18 * 100vw;
            width: 50%;
        }
    }

}
