.trend {
    &__image {
        &::after {
            content: "";
            @include theme-opaque-background(100%);
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            height: rhythm(2);
            @include breakpoint($gt-small-desktop) {
                height: rhythm(4);
            }
        }
    }
    &__label {
        position: absolute;
        left: -999em;
        @include breakpoint($gt-small-desktop) {
            top: 0;
            left: 0;
        }
    }
    &__title {
        display: none;
    }
    &--wide {
        @include breakpoint($gt-small-desktop) {
            display: flex;
            .trend__image,
            .trend__body {
                flex: 1 0 50%;
            }
            .trend__body {
                position: relative;
                padding-left: $gutter-width / 2;
                padding-right: $gutter-width / 2;
                .stack {
                    height: 100%;
                }
            }
            .trend__title {
                display: block;
            }
        }
    }
}

.trend__body::after {
    content: "";
    @include theme-opaque-background(100%);
    position: absolute;
    top: 100%;
    left: -999em;
    height: rhythm(4);
    @include breakpoint($gt-small-desktop) {
        .trend--wide & {
            right: 0;
            left: 0;
        }
    }
}
