<aside class="bubble bubble--{{ arrow_direction|default('down') }} bubble--padded bubble--slim-fit bubble--heavy">
    <h2 class="heading heading--tile  |  gutters  |  trailer--small">{{ labels.join_discussion|t(locales) }}</h2>
    <div class="gutters  |  opinion__icons  |  leader--normal">
        <a class="anchor--shy  |  is-heir" href="https://www.facebook.com/CTASpore" target="_blank"><span class="icon icon--facebook  |  gutter--right"></span></a>
        <a class="anchor--shy  |  is-heir" href="https://twitter.com/Spore_mag" target="_blank"><span class="icon icon--twitter  |  gutter--right"></span></a>
        <a class="anchor--shy  |  is-heir" href="https://www.linkedin.com/company/spore-magazine" target="_blank"><span class="icon icon--linkedin  |  gutter--right"></span></a>
    </div>
</aside>
