{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="layout trailer-inside--small">
    <div class="layout__cell layout__cell--aside  |  wings">
        <div class="trailer  |  post post--hero">
            <a href="#">
                <h2 class="opinion__heading  |  gutters">Will inclusive financing mechanisms promote more women-led agribusinesses?</h2>
            </a>
        </div>
    </div>
    <div class="layout__cell  |  wing--right">
        <div class="layout layout--even  |  wing--right">
            <div class="layout__cell">
                <div class="gutters  |  leader--hero">
                    <div class="opinion">
                        <div class="well  |  gutters">
                            <h2 class="heading heading--tile  |  gutters  |  trailer--small">Financially empowered women benefit the whole community</h2>
                            <a class="leader-inside--small  |  gutters  |  block-link" href="#">Read more</a>
                        </div>
                        <p class="opinion__footer  |  gutters gutters-outside">Chikumbutso mtemwa, gender finance specialist</p>
                    </div>
                </div>
                <div class="gutters">
                    <div class="opinion opinion--theme">
                        <div class="well  |  gutters">
                            <h2 class="heading heading--tile  |  gutters  |  trailer--small">Join the discussion on</h2>
                            <div class="gutters  |  opinion__icons  |  leader--normal">
                                <a class="anchor--shy  |  is-heir" href="https://www.facebook.com/CTApage" target="_blank"><span class="icon icon--facebook  |  gutter--right"></span></a>
                                <a class="anchor--shy  |  is-heir" href="https://twitter.com/ctaflash" target="_blank"><span class="icon icon--twitter  |  gutter--right"></span></a>
                                <a class="anchor--shy  |  is-heir" href="https://www.linkedin.com/company/technical-centre-for-agricultural-and-rural-cooperation-acp-eu-cta-" target="_blank"><span class="icon icon--linkedin  |  gutter--right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout__cell">
                <div class="gutters">
                    <div class="opinion">
                        <div class="well  |  gutters">
                            <h2 class="heading heading--tile  |  gutters  |  trailer--small">Financially empowered women benefit the whole community</h2>
                            <a class="leader-inside--small  |  gutters  |  block-link" href="#">Read more</a>
                        </div>
                        <p class="opinion__footer  |  gutters gutters-outside">Chikumbutso mtemwa, gender finance specialist</p>
                    </div>
                </div>
                <div class="gutters">
                    <div class="opinion">
                        <div class="well  |  gutters">
                            <h2 class="heading heading--tile  |  gutters  |  trailer--small">Financially empowered women benefit the whole community</h2>
                            <a class="leader-inside--small  |  gutters  |  block-link" href="#">Read more</a>
                        </div>
                        <p class="opinion__footer  |  gutters gutters-outside">Chikumbutso mtemwa, gender finance specialist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
