{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<section class="panel  |  wings" id="board">
    <h2 class="title  |  gutters">
        <a class="panel__trigger  |  is-heir" href="#board">{{ {'en': 'Executive Board members', 'fr': "Membres du Conseil d'administration"}|t(locales) }}</a>
    </h2>
    <div class="panel__body">
        <div class="gutters  |  trailer">
            <p class="paragraph">{{ {'en': 'Executive Board of the Technical Centre for Agricultural and Rural Cooperation (CTA), as per decision no 4/2013 of the ACP-EU Committee of Ambassadors of 7 November 2013. Appointed members to the Executive Board of the Technical Centre for Agricultural and Rural Cooperation (CTA), as per decision no 4/2013 of the ACP-EU Committee of Ambassadors of 7 November 2013 on the Statutes of the Centre. For a term of five years, ending on 6 November 2018', 'fr': "Conseil d'administration du Centre technique de coopération agricole et rurale (CTA), conformément à la décision n ° 4/2013 du Comité des ambassadeurs des pays ACP-UE du 7 novembre 2013. Membres nommés au Conseil d'administration du Centre technique de coopération agricole et rurale (CTA), conformément à la décision n° 4/2013 du Comité des ambassadeurs des pays ACP-UE du 7 Novembre 2013 sur les statuts du Centre. Pour un mandat de cinq ans, se terminant le 6 novembre 2018"}|t(locales) }}:</p>
            <ul class="paragraph  |  gutters">
                <li>{{ {'en': 'Professor Baba Y. Abubakar', 'fr': "Professeur Baba Y. Abubakar"}|t(locales) }}</li>
                <li>{{ {'en': 'Professor Augusto Manuel Correia', 'fr': "Professeur Augusto Manuel Correia"}|t(locales) }}</li>
                <li>{{ {'en': 'Dr Helena Johansson', 'fr': "Dr Helena Johansson"}|t(locales) }}</li>
                <li>{{ {'en': 'Professor Faustin R. Kamuzora', 'fr': "Professeur Faustin R. Kamuzora"}|t(locales) }}</li>
                <li>{{ {'en': 'Professor Clement K. Sankat', 'fr': "Professeur K. Clement Sankat"}|t(locales) }}</li>
            </ul>
            <p class="paragraph">{{ {'en': 'For a term of three years and four months ending on 29 February 2020', 'fr': "Pour un mandat de trois ans et quatre mois, se terminant le 29 février 2020"}|t(locales) }}:</p>
            <ul class="paragraph  |  gutters">
                <li>{{ {'en': 'Professor Frederike Praasterink', 'fr': "Professeur Frederike Praasterink"}|t(locales) }}</li>
            </ul>
        </div>
        <div class="layout  |  trailer--hero">
            <div class="layout__cell layout__cell--aside  |  gutters  |  profile  |  trailer">
                <div class="profile__image">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1523537124/newhwa9ag3msdmptrihl.png" alt="Augusto Manuel Correia">
                </div>
                <div class="profile__text">
                    <h4 class="profile__name  |  title  |  trailer--small">Augusto Manuel Correia</h4>
                    <p class="body--whisper">{{ {'en': 'Chairman', 'fr': "Président du conseil d’administration"}|t(locales) }}</p>
                    <p class="body--whisper">{{ {'en': 'Portugal', 'fr': "Portugal"}|t(locales) }}</p>
                </div>
            </div>
            <div class="layout__cell  |  gutters">
                <h2 class="title">Augusto Manuel Correia</h2>
                <p class="paragraph">{{ {'en': 'PhD in Tropical Agriculture (1990) from the Instituto Superior de Agronomia (Universidade Técnica de Lisboa), Portugal', 'fr': "Doctorat d’agriculture tropicale (1990), Instituto Superior de Agronomia (Universidade Técnica de Lisboa), Portugal"}|t(locales) }}</p>
                <ul class="paragraph  |  gutters">
                    <li>{{ {'en': 'Associate Professor (Sustainable Development of African Rural Communities, Tropical Agriculture Production and Systems Tropical Agriculture) at the Instituto Superior de Agronomia (ISA) since 1981', 'fr': "Professeur associé (Développement durable des communautés rurales africaines, agriculture tropicale et systèmes de agricoles tropicaux), Instituto Superior de Agronomia, depuis 1981"}|t(locales) }}</li>
                    <li>{{ {'en': 'Former member of the Steering Committee of the European Forum for Agricultural Research (EFARD) (1999-2001)', 'fr': "Membre du comité du Forum européen sur la recherche agricole pour le développement (EFARD) de 1999 à 2001"}|t(locales) }}</li>
                    <li>{{ {'en': 'Former president of the Portuguese Agency for Development (IPAD) (2005-2012)', 'fr': "Président de l’Agence portugaise de développement (IPAD) de 2005 à 2012"}|t(locales) }}</li>
                    <li>{{ {'en': 'National Expert for the 5th Framework Program for Development Assistance of the EU', 'fr': "Expert national du 5e programme-cadre pour l'aide publique au développement de l'Union européenne"}|t(locales) }}</li>
                </ul>
            </div>
        </div>
        <div class="layout  |  trailer--hero">
            <div class="layout__cell layout__cell--aside  |  gutters  |  profile  |  trailer">
                <div class="profile__image">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1523537160/psnjrbbohpwjeq4qphgo.png" alt="Baba Yusuf Abubakar">
                </div>
                <div class="profile__text">
                    <h4 class="profile__name  |  title  |  trailer--small">Baba Yusuf Abubakar</h4>
                    <p class="body--whisper">{{ {'en': 'Board member', 'fr': "Membre d'équipage"}|t(locales) }}</p>
                    <p class="body--whisper">{{ {'en': 'Nigeria', 'fr': "Nigéria"}|t(locales) }}</p>
                </div>
            </div>
            <div class="layout__cell  |  gutters">
                <h2 class="title">Baba Yusuf Abubakar</h2>
                <p class="paragraph">{{ {'en': 'PhD in Animal Breeding and Genetics (1985) from Cornell University, USA', 'fr': "Doctorat en Sciences animales et génétique (1985), Cornell University, Etats-Unis"}|t(locales) }}</p>
                <ul class="paragraph  |  gutters">
                    <li>{{ {'en': 'Visiting Professor, University of Abuja (2016-present)', 'fr': "Professeur invité, University of Abuja, depuis 2016"}|t(locales) }}</li>
                    <li>{{ {'en': 'Pioneer Executive Secretary, Agricultural Research Council of Nigeria (2006-2016)', 'fr': "Secrétaire exécutif, Agricultural Research Council of Nigeria, de 2006 à 2016"}|t(locales) }}</li>
                    <li>{{ {'en': 'Director, Office of the Secretary to the Government of the Federation, Nigeria (2003-2006)', 'fr': "Directeur du Secrétariat du gouvernement fédéral du Nigéria, de 2003 à 2006"}|t(locales) }}</li>
                    <li>{{ {'en': 'Programme Leader (Poultry), National Animal Production Research Institute (NAPRI/ABU), Shika-Zaria (1991-1997)', 'fr': "Chef de programme (Volaille), National Animal Production Research Institute (NAPRI/ABU), Nigeria, de 1991 à 1997"}|t(locales) }}</li>
                    <li>{{ {'en': 'Research Officer, NAPRI/ABU (1978-2003)', 'fr': "Chargé de recherche, NAPRI/ABU, de 1978 à 2003"}|t(locales) }}</li>
                    <li>{{ {'en': 'Promoted Professor of Animal Science, NAPRI/ABU (1995)', 'fr': "Professeur des Sciences animales, NAPRI/ABU, 1995"}|t(locales) }}</li>
                    <li>{{ {'en': 'Liaison officer, Centre for Agricultural Biosciences International (CABI), (2008- 2016)', 'fr': "Officier de liaison, Centre for Agricultural Biosciences International (CABI), de 2008 à 2016"}|t(locales) }}</li>
                    <li>{{ {'en': 'Member of the Consultative Group on International Agricultural Research [CGIAR] ExCo & Fund/System Council representing Sub-Saharan Africa, 2008-2009 & 2010-2016 respectively', 'fr': "Membre, pour le Groupe consultatif pour la recherche agricole internationale (CGIAR), du comité exécutif pour l’Afrique sub-saharienne, de 2008 à 2009, puis de 2010 à 2016"}|t(locales) }}</li>
                    <li>{{ {'en': 'Chairman, Governing Board of the West and Central African Council for Agricultural Research and Development (CORAF /WECARD), (2010-2012)', 'fr': "Président du conseil d’administration du Conseil ouest et centre africain pour la recherche et le développement agricoles (CORAF /WECARD), de 2010 à 2012"}|t(locales) }}</li>
                    <li>{{ {'en': 'Member of the Governing Board of the Forum for Agricultural Research in Africa (FARA), (2010- 2012)', 'fr': "Membre du conseil d’administration du Forum pour la recherche agricole en Afrique (FARA), de 2010 à 2012"}|t(locales) }}</li>
                    <li>{{ {'en': 'Member of the Expert Panel on the development of Science Agenda for Agriculture in Africa (2013)', 'fr': "Membre du panel d’experts pour l’Agenda scientifique pour l’agriculture en Afrique (2013)"}|t(locales) }}</li>
                    <li>{{ {'en': 'Member, Board of Trustees, WorldFish Center (2017-2020)', 'fr': "Membre du conseil d’administration de WorldFish Center, depuis 2017"}|t(locales) }}</li>
                    <li>{{ {'en': 'Received Presidential National Honours Award of Officer of the Order of the Federal Republic (OFR) in 2011 and the CORAF/WECARD Award of Honour for invaluable contribution to Agricultural Research and Development in West and Central Africa in 2012.', 'fr': ""}|t(locales) }}</li>
                </ul>
            </div>
        </div>



        <div class="layout  |  trailer--hero">
            <div class="layout__cell layout__cell--aside  |  gutters  |  profile  |  trailer">
                <div class="profile__image">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1523537355/yaecgbkmvwxyebqnvx7l.png" alt="Helena Johansson">
                </div>
                <div class="profile__text">
                    <h4 class="profile__name  |  title  |  trailer--small">Helena Johansson</h4>
                    <p class="body--whisper">{{ {'en': 'Board member', 'fr': "Membre d'équipage"}|t(locales) }}</p>
                    <p class="body--whisper">{{ {'en': 'Sweden', 'fr': "Suède"}|t(locales) }}</p>
                </div>
            </div>
            <div class="layout__cell  |  gutters">
                <h2 class="title">Helena Johansson</h2>
                <p class="paragraph">{{ {'en': 'PhD in Economics (2003) from Lund University, Sweden', 'fr': "Doctorat d’Economie (2003), Lund University, Suède"}|t(locales) }}</p>
                <ul class="paragraph  |  gutters">
                    <li>{{ {'en': 'Director of the AgriFood Economics Centre, Lund University, Sweden since 2009', 'fr': "Directrice du AgriFood Economics Centre, Lund University, depuis 2009"}|t(locales) }}</li>
                    <li>{{ {'en': 'Researcher at the Swedish Institute for Food and Agriculture Economics (2001-2008)', 'fr': "Chercheuse au Swedish Institute for Food and Agriculture Economics, de 2001 à 2008"}|t(locales) }}</li>
                    <li>{{ {'en': 'Lecturer at the Department of Economics, Lund University (2002-2003)', 'fr': "Maître de conference (Economie), Lund University, de 2002 à 2003"}|t(locales) }}</li>
                </ul>
            </div>
        </div>

        <div class="layout  |  trailer--hero">
            <div class="layout__cell layout__cell--aside  |  gutters  |  profile  |  trailer">
                <div class="profile__image">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1523537311/mhyd6qckej2zh3nwq5l5.png" alt="Faustin Kamuzora">
                </div>
                <div class="profile__text">
                    <h4 class="profile__name  |  title  |  trailer--small">Faustin Kamuzora</h4>
                    <p class="body--whisper">{{ {'en': 'Board member', 'fr': "Membre d'équipage"}|t(locales) }}</p>
                    <p class="body--whisper">{{ {'en': 'Tanzania', 'fr': "Tanzanie"}|t(locales) }}</p>
                </div>
            </div>
            <div class="layout__cell  |  gutters">
                <h2 class="title">Faustin Kamuzora</h2>
                <p class="paragraph">{{ {'en': 'PhD in Information Technology (2006) from the University of Bradford, USA MSc in Agricultural International Trade (1996) from the North Carolina Agricultural and Technical State University, USA', 'fr': "Doctorat de Technologie de l’information (2006), University of Bradford, Etats-Unis Maîtrise universitaire ès sciences de Commerce agricole international (1996), North Carolina Agricultural and Technical State University, Etats-Unis"}|t }}</p>
                <ul class="paragraph  |  gutters">
                    <li>{{ {'en': 'Permanent Secretary of Tanzanian Ministry of Communication, Science and Technology', 'fr': "Secrétaire permanent du ministère du ministère de la Communication, des sciences et la technologie de Tanzanie"}|t(locales) }}</li>
                    <li>{{ {'en': 'Deputy vice-chancellor, Mzumbe University, Tanzania (2007- present)', 'fr': "Vice-chancelier, Mzumbe University, Tanzania, depuis 2007"}|t(locales) }}</li>
                    <li>{{ {'en': 'Researcher and trainer at Mzumbe University (1992 – present)', 'fr': "Chercheur et formateur, Mzumbe University, depuis 1992"}|t(locales) }}</li>
                    <li>{{ {'en': 'Executive Secretary of the Agricultural Economist Society of Tanzania', 'fr': "Secrétaire exécutif des économistes agricoles de Tanzanie"}|t(locales) }}</li>
                </ul>
            </div>
        </div>

        <div class="layout  |  trailer--hero">
            <div class="layout__cell layout__cell--aside  |  gutters  |  profile  |  trailer">
                <div class="profile__image">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1523537416/rzykh7t58btagu6mdgch.png" alt="Frederike Praasterink">
                </div>
                <div class="profile__text">
                    <h4 class="profile__name  |  title  |  trailer--small">Frederike Praasterink</h4>
                    <p class="body--whisper">{{ {'en': 'Board member', 'fr': "Membre d'équipage"}|t(locales) }}</p>
                    <p class="body--whisper">{{ {'en': 'The Netherlands', 'fr': "Pays-Bas"}|t(locales) }}</p>
                </div>
            </div>
            <div class="layout__cell  |  gutters">
                <h2 class="title">Frederike Praasterink</h2>
                <p class="paragraph">{{ {'en': 'MSc in Horticulture & Crop protection (1988) from Wageningen University & Research, The Netherlands', 'fr': "Maîtrise universitaire ès sciences Horticulture et protection des cultures, Wageningen University & Research, Pays-Bas"}|t(locales) }}</p>
                <ul class="paragraph  |  gutters">
                    <li>{{ {'en': 'Senior lecturer (Future Food Systems) at HAS University of Applied Sciences, The Netherlands, since 2006', 'fr': "Maître de conference (Systèmes alimentaires), HAS University of Applied Sciences, Pays-Bas, depuis 2006"}|t(locales) }}</li>
                    <li>{{ {'en': 'Expert/Consultant for the FAO (1995-2008)', 'fr': "Expert consultante pour la FAO, de 1995 à 2008"}|t(locales) }}</li>
                </ul>
            </div>
        </div>

        <div class="layout  |  trailer--hero">
            <div class="layout__cell layout__cell--aside  |  gutters  |  profile  |  trailer">
                <div class="profile__image">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1523537239/neisyg138pyyefrg1hcs.png" alt="Clement K. Sankat">
                </div>
                <div class="profile__text">
                    <h4 class="profile__name  |  title  |  trailer--small">Clement K. Sankat</h4>
                    <p class="body--whisper">{{ {'en': 'Board member', 'fr': "Membre d'équipage"}|t(locales) }}</p>
                    <p class="body--whisper">{{ {'en': 'Trinidad and Tobago', 'fr': "Trinité-et-Tobago"}|t(locales) }}</p>
                </div>
            </div>
            <div class="layout__cell  |  gutters">
                <h2 class="title">Clement K. Sankat</h2>
                <p class="paragraph">{{ {'en': 'PhD from the University of Guelph’s School of Engineering, Canada, Honorary Doctorate degree (2010) from the University of New Brunswick MSc and BSc in Mechanical Engineering from the University of the West Indies, Trinidad and Tobago.', 'fr': "Doctorat d’ingénierie, University of Guelph’s School of Engineering, Canada Doctorat honorifique (2010, University of New Brunswick, Canada Maîtrise universitaire ès sciences et licence en Ingénierie mécanique, University of the West Indies, Trinidad et Tobago"}|t(locales) }}</p>
                <p class="paragraph">{{ {'en': 'Chartered Engineer (CEng), Fellow of the Institute of Agricultural Engineers (FIAgrE) of the UK, Fellow of the Association of Professional Engineers of Trinidad and Tobago (FAPETT) and Fellow of the Canadian Society for Bioengineering', 'fr': ""}|t(locales) }}</p>
                <ul class="paragraph  |  gutters">
                    <li>{{ {'en': 'President of the University of Belize since 2017', 'fr': "Président, University of Belize, depuis 2017"}|t(locales) }}</li>
                    <li>{{ {'en': 'Board of Advisors, Confucius Institute, Hanban, Beijing, China', 'fr': "Membre du conseil d’administration, Confucius Institute, Hanban, Pékin, Chine"}|t(locales) }}</li>
                    <li>{{ {'en': 'Former Pro-Vice-Chancellor and Campus Principal of The University of the West Indies, St Augustine Campus, Trinidad (2008-2016)', 'fr': "Vice-chancelier, The University of the West Indies, St Augustine, Trinidad et Tobago, de 2008 à 2016"}|t(locales) }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
