<section class="panel  |  wings" id="staff">
    <h2 class="title  |  gutters">
        <a class="panel__trigger  |  is-heir" href="#staff">{{ {'en': 'CTA staff', 'fr': "Nos collaborateurs"}|t }}</a>
    </h2>
    <div class="panel__body">

        <!-- Double title -->
        <div class="credit trailer--hero">
            <div class="credit__cell  |  gutters">
                <p class="credits-department  |  trailer">{{ {'en': 'Directors office', 'fr': "Direction"}|t }}</p>
                <ul class="reset">
                    <li class="trailer--small">
                        <p>Michael Hailu</p>
                        <p class="job-title">{{ {'en': 'Director', 'fr': "Directeur"}|t }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Debbie Kleinbussink</p>
                        <p class="job-title">{{ {'en': "Executive Officer Director’s Office", 'fr': "Chargée de direction"}|t }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Josina Leguit</p>
                        <p class="job-title">{{ {'en': 'Administrative and Research Assistant Director’s Office', 'fr': "Assistante administrative et de recherche Bureau du directeur"}|t }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Perry Pahladsingh</p>
                        <p class="job-title">{{ {'en': 'Financial Controller Internal Audit (acting)', 'fr': "Contrôleur Financier Audit Interne (par intérim)"}|t }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="credit trailer--hero">
            <div class="credit__cell  |  gutters">
                <p class="credits-department  |  trailer">{{ {'en': 'Brussels Office', 'fr': "Bureau de Bruxelles"}|t }}</p>
                <ul class="reset">
                    <li class="trailer--small">
                        <p>Isolina Boto</p>
                        <p class="job-title">{{ {'en': 'Manager, Brussels Office', 'fr': "Responsable du bureau de Bruxelles"}|t }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Lebo Mofolo</p>
                        <p class="job-title">{{ {'en': 'Policy Development Briefings Officer', 'fr': "Chargée des Briefings sur le Développement"}|t }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Christelle Amorin</p>
                        <p class="job-title">{{ {'en': 'Intern Communication & Agribusiness Development', 'fr': "Stagiaire en communication et développement de l’agritourisme"}|t }}</p>
                    </li>
                </ul>
            </div>
        </div>


        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Agribusiness & Value Chain', 'fr': "Agri-entreprises & Chaîne de valeur"}|t }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Piet Visser</p>
                            <p class="job-title">{{ {'en': 'Team Leader, Agribusiness & Value Chain', 'fr': "Chef d’équipe, Agri-entreprises & Chaîne de valeur"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Oluyede Ajayi</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Ag & Climate Change', 'fr': "Coordonnateur de Programme Sr, Agriculture & Changement Climatique"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Sabdiyo Dido Bashuna</p>
                            <p class="job-title">{{ {'en': 'Sr Technical Advisor, Value Chain & Agribusiness', 'fr': "Conseillère Technique Sr, Chaîne de valeur & Agri-entreprises"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Vincent Fautrel</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Value Chain', 'fr': "Coordonnateur de Programme Sr, Filières Agricoles"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Judith Francis</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, S&T Policy', 'fr': "Coordonnatrice de Programme Sr, Politiques S & T"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Emil Jejov</p>
                            <p class="job-title">{{ {'en': 'Operations Officer, Pacific Islands Food Systems project', 'fr': "Chargé Opérationnel du Projet Systèmes Alimentaires des Iles du Pacifique"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Mariam Kadzamira</p>
                            <p class="job-title">{{ {'en': 'Climate Change Officer', 'fr': "Chargée du Changement Climatique"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Jana Dietershagen</p>
                            <p class="job-title">{{ {'en': 'Technical Officer, Pacific Islands Food Systems Project', 'fr': "Chargé technique, projet Systèmes alimentaires des îles du Pacifique"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Armelle Degrave</p>
                            <p class="job-title">{{ {'en': 'Administrative Coordination Officer', 'fr': "Chargée de la Coordination administrative"}|t }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Caroline Andriessen</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Félix Nkwetta Ajong</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistant de projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Angeles Salvador</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Maïté Zammattio</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Oluwaseun Adedeji</p>
                            <p class="job-title">{{ {'en': 'Intern Agribusiness Technical support', 'fr': "Stagiaire assistance technique, agrobusiness et chaîne de valeur"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Constance Barbou des Courières</p>
                            <p class="job-title">{{ {'en': 'Intern Agricultural Value Chains in West and Central Africa', 'fr': "Stagiaire Chaîne de valeur agricoles de l'Afrique de l'Ouest et du Centre"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Jemima Afari-Kwarteng</p>
                            <p class="job-title">{{ {'en': 'Intern Agribusiness Administration and Communication support', 'fr': "Stagiaire - Appui en Administration et Communications, secteur Agroalimentaire"}|t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'ICT for Agriculture', 'fr': "TIC pour l’Agriculture"}|t }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Benjamin Addom</p>
                            <p class="job-title">{{ {'en': 'Team Leader, ICT for Agriculture', 'fr': "Chef d’équipe, TIC pour l’Agriculture"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Chris Addison</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Data4Ag', 'fr': "Coordonnateur de Programme Sr, Données pour l’Agriculture"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Ken Lohento</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, ICT4Ag', 'fr': "Coordonnateur de Programme Sr, TIC pour l’Agriculture"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Giacomo Rambaldi</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, ICT4Ag', 'fr': "Coordonnateur de Programme Sr, TIC pour l’Agriculture"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Carol Kakooza</p>
                            <p class="job-title">{{ {'en': 'Project Coordinator, MUIIS (Uganda)', 'fr': "Coordinatrice du Projet MUIIS (Ouganda)"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Chipo Msengezi</p>
                            <p class="job-title">{{ {'en': 'Project Coordinator, GODAN Action', 'fr': "Coordinatrice du Projet GODAN Action"}|t }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Sèlidji Hermann Tossou</p>
                            <p class="job-title">{{ {'en': 'Project Officer ICT4Ag', 'fr': "Chargé de projets TIC4Ag"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Marion van Boven</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Arnoldine Stals</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Yanick Bakker</p>
                            <p class="job-title">{{ {'en': 'Intern Event Support ICT4Ag', 'fr': "Stagiaire support événements ICT4Ag"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Osseni Senou</p>
                            <p class="job-title">{{ {'en': 'Intern Technical Support and M&E, ICT4Ag', 'fr': "Stagiaire appui technique et suivi-évaluation TIC pour l’agriculture"}|t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Communications', 'fr': "Communication"}|t }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Toby Johnson</p>
                            <p class="job-title">{{ {'en': 'Team Leader, Communications', 'fr': "Chef d’équipe, Communication"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Stéphane Gambier</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Communications', 'fr': "Coordonnateur de Programme Sr, Communication"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Thierry Lewyllie</p>
                            <p class="job-title">{{ {'en': 'Programme Coordinator, Web', 'fr': "Coordonnateur de Programme, Web"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Murielle Vandreck</p>
                            <p class="job-title">{{ {'en': 'Programme Coordinator, Publications', 'fr': "Coordonnateur de Programme, Publications"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Bertil Videt</p>
                            <p class="job-title">{{ {'en': 'Programme Coordinator, Marketing & Communication', 'fr': "Coordonnateur de Programme, Marketing & Communication"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Olivier Hersperger</p>
                            <p class="job-title">{{ {'en': 'Web Content Manager', 'fr': "Responsable du Contenu Web"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Anne Legroscollard</p>
                            <p class="job-title">{{ {'en': 'Communication Officer', 'fr': "Chargée de Communications"}|t }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Mirjam Bos</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante administrative"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Evelyne Kort-Nerincx</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante administrative"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Gabriela Bahre</p>
                            <p class="job-title">{{ {'en': 'Data Assistant', 'fr': "Assistante Traitement des données"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Husna Yagoub</p>
                            <p class="job-title">{{ {'en': 'Data Assistant', 'fr': "Assistante Traitement des données"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Joash Moitui</p>
                            <p class="job-title">{{ {'en': 'Intern Social Media', 'fr': "Stagiaire Réseaux sociaux"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Shari-Ann Palmer</p>
                            <p class="job-title">{{ {'en': 'Intern Communications', 'fr': "Stagiaire Communication"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Hilda Mirembe</p>
                            <p class="job-title">{{ {'en': 'Intern Graphic Design', 'fr': "Stagiaire Communication visuelle"}|t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Learning, Monitoring and Evaluation (LME) unit', 'fr': "Unité Apprentissage, Suivi & Évaluation (ASE)"}|t }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Ibrahim Khadar</p>
                            <p class="job-title">{{ {'en': 'Manager, Learning, Monitoring & Evaluation Unit', 'fr': "Chef d’unité, Apprentissage, Suivi & Évaluation"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Tarikua Woldetsadick</p>
                            <p class="job-title">{{ {'en': 'LME Officer', 'fr': "Chargée d’Apprentissage, Suivi et Évaluation"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Aurélie Reynier</p>
                            <p class="job-title">{{ {'en': 'M&E Officer', 'fr': "Chargée de Suivi & Évaluation"}|t }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Raya Dekkers</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante administrative"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Jorge Chávez-Tafúr</p>
                            <p class="job-title">{{ {'en': 'Project Coordinator, KM – Experience Capitalization', 'fr': "Coordinateur du projet Capitalisation Expérience"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Merche Rodriguez Carpintero</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Imelda Aniambossou</p>
                            <p class="job-title">{{ {'en': 'Intern Monitoring & Evaluation (M&E), Data Management and Organisational Learning', 'fr': "Stagiaire Suivi & evaluation (S&E), gestion des données et apprentissage organisationnel"}|t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Human Resources and Administration', 'fr': "Ressources humaines et administration"}|t }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Pascal Deleu</p>
                            <p class="job-title">{{ {'en': 'Head of Human Resources and Administration', 'fr': "Chef de département Ressources Humaines et Administration"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Christèle Coutureau</p>
                            <p class="job-title">{{ {'en': 'Human Resources Officer', 'fr': "Chargée des Ressources Humaines"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Julia Nijhof</p>
                            <p class="job-title">{{ {'en': 'Human Resources Assistant', 'fr': "Assistante aux Ressources Humaines"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Ellen van Dijk</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante Administrative"}|t }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Ad Biemans</p>
                            <p class="job-title">{{ {'en': 'Caretaker', 'fr': "Huissier / Services Géneraux"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Thomas Mendo Essiane</p>
                            <p class="job-title">{{ {'en': 'Messenger / Driver', 'fr': "Messager / Chauffeur"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Manuela van Betuw</p>
                            <p class="job-title">{{ {'en': 'Receptionist', 'fr': "Réceptionniste"}|t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Corporate Services Department (CSD)', 'fr': "Département des Services Communs"}|t }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Thierry Doudet</p>
                            <p class="job-title">{{ {'en': 'Manager CKM & Acting Manager Corporate services', 'fr': "Chef de Programme, Gestion des Connaissances & Communication et (par intérim) Chef de Programme Services Communs"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Christine Webster</p>
                            <p class="job-title">{{ {'en': 'Sr Procurement and Grants Coordinator', 'fr': "Coordonnatrice Sr, Achats et des Subventions"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Igor Biskupic</p>
                            <p class="job-title">{{ {'en': 'ICT Coordinator', 'fr': "Coordonnateur TIC"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Louis Kolkman</p>
                            <p class="job-title">{{ {'en': 'IT Technician', 'fr': "Technicien Informatique"}|t }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Pauline Klein</p>
                            <p class="job-title">{{ {'en': 'Senior Financial Officer (interim)', 'fr': "Responsable sénior des Finances (intérim)"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Serge Adolph</p>
                            <p class="job-title">{{ {'en': 'Account Payable Assistant ', 'fr': "Aide-comptable"}|t }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Marco van Maurik</p>
                            <p class="job-title">{{ {'en': 'Account Payable Assistant', 'fr': "Aide-comptable"}|t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
