{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<section class="panel  |  wings" id="staff">
    <h2 class="title  |  gutters">
        <a class="panel__trigger  |  is-heir" href="#staff">{{ {'en': 'CTA staff', 'fr': "Nos collaborateurs"}|t(locales) }}</a>
    </h2>
    <div class="panel__body">

        <!-- Double title -->
        <div class="credit trailer--hero">
            <div class="credit__cell  |  gutters">
                <p class="credits-department  |  trailer">{{ {'en': 'Directors office', 'fr': "Direction"}|t(locales) }}</p>
                <ul class="reset">
                    <li class="trailer--small">
                        <p>Michael Hailu</p>
                        <p class="job-title">{{ {'en': 'Director', 'fr': "Directeur"}|t(locales) }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Deborah Kleinbussink</p>
                        <p class="job-title">{{ {'en': "Executive Assistant Director's Office / Board Secretary", 'fr': "Assistante de direction / Secrétaire du Conseil d’administration"}|t(locales) }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Mona Regad</p>
                        <p class="job-title">{{ {'en': 'Administrative and Research Assistant Director’s Office', 'fr': "Assistante administratif et de recherche Bureau du directeur"}|t(locales) }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Perry Pahladsingh</p>
                        <p class="job-title">{{ {'en': 'Financial Controller Internal Audit (acting)', 'fr': "Contrôleur Financier Audit Interne (par intérim)"}|t(locales) }}</p>
                    </li>
                </ul>
            </div>
            <div class="credit__cell  |  gutters">
                <p class="credits-department  |  trailer">{{ {'en': 'Brussels Office', 'fr': "Bureau de Bruxelles"}|t(locales) }}</p>
                <ul class="reset">
                    <li class="trailer--small">
                        <p>Isolina Boto</p>
                        <p class="job-title">{{ {'en': 'Manager, Brussels Office', 'fr': "Responsable du bureau de Bruxelles"}|t(locales) }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Lebo Mofolo</p>
                        <p class="job-title">{{ {'en': 'Policy Development Briefings Officer', 'fr': "Chargée des Briefings sur le Développement"}|t(locales) }}</p>
                    </li>
                    <li class="trailer--small">
                        <p>Christelle Amorin</p>
                        <p class="job-title">{{ {'en': 'Communication Intern', 'fr': "Stagiaire en Communication"}|t(locales) }}</p>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Single title -->
        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Policies, Markets and ICTs (PMI) programme', 'fr': "Programme Politiques, Marchés & TIC (PMT)"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Marc van Ameringen</p>
                            <p class="job-title">{{ {'en': 'Manager, Policies, Markets & ICT Programme (acting)', 'fr': "Chef de Programme, Politiques, Marchés & TIC (par intérim)"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Armelle Degrave</p>
                            <p class="job-title">{{ {'en': 'PMI Administrative Coordination Officer', 'fr': "Chargée de la Coordination administrative"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'ICT for Agriculture', 'fr': "TIC pour l’Agriculture"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Benjamin Addom</p>
                            <p class="job-title">{{ {'en': 'Team Leader, ICT for Agriculture', 'fr': "Chef d’équipe, TIC pour l’Agriculture"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Giacomo Rambaldi</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, ICT4Ag', 'fr': "Coordonnateur de Programme Sr, TIC pour l’Agriculture"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Chris Addison</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Data4Ag', 'fr': "Coordonnateur de Programme Sr, Données pour l’Agriculture"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Ken Lohento</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, ICT4Ag', 'fr': "Coordonnateur de Programme Sr, TIC pour l’Agriculture"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Chipo Msengezi</p>
                            <p class="job-title">{{ {'en': 'Project Coordinator, GODAN Action', 'fr': "Coordinatrice du Projet GODAN Action"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Yanick Bakker</p>
                            <p class="job-title">{{ {'en': 'Intern Event Support ICT4Ag', 'fr': "Stagiaire support événements ICT4Ag"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Carol Kakooza</p>
                            <p class="job-title">{{ {'en': 'Project Coordinator, MUIIS (Uganda)', 'fr': "Coordinatrice du Projet MUIIS (Ouganda)"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Marion van Boven</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Arnoldine Stals</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Marc Ghislain Bappa Se</p>
                            <p class="job-title">{{ {'en': 'Intern ICT4Ag', 'fr': "Stagiaire TIC pour l’Agriculture"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Agribusiness & Value Chain', 'fr': "Agri-entreprises & Chaîne de valeur"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Piet Visser</p>
                            <p class="job-title">{{ {'en': 'Team Leader, Agribusiness & Value Chain', 'fr': "Chef d’équipe, Agri-entreprises & Chaîne de valeur"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Vincent Fautrel</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Value Chain', 'fr': "Coordonnateur de Programme Sr, Filières Agricoles"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Sabdiyo Dido Bashuna</p>
                            <p class="job-title">{{ {'en': 'Sr Technical Advisor, Value Chain & Agribusiness', 'fr': "Conseillère Technique Sr, Chaîne de valeur & Agri-entreprises"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Nicola Francesconi</p>
                            <p class="job-title">{{ {'en': 'Sr Technical Advisor, Coop Agribusiness Dev', 'fr': "Conseiller Technique Sr, Dev. Entreprenariat Coop. Agro-alimentaire"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Judith Francis</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, S&T Policy', 'fr': "Coordonnatrice de Programme Sr, Politiques S & T"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Oluyede Ajayi</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Ag & Climate Change', 'fr': "Coordonnateur de Programme Sr, Agriculture & Changement Climatique"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Constance Barbou des Courières</p>
                            <p class="job-title">{{ {'en': 'Intern Value Chain for Central & West Africa', 'fr': "Stagiaire Afrique centrale et Afrique de l'Ouest"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Mariam Kadzamira</p>
                            <p class="job-title">{{ {'en': 'Climate Change Officer', 'fr': "Chargée du Changement Climatique"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Emil Jejov</p>
                            <p class="job-title">{{ {'en': 'Operations Officer, Pacific Islands Food Systems project', 'fr': "Chargé Opérationnel du Projet Systèmes Alimentaires des Iles du Pacifique"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Angeles Salvador</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Caroline Andriessen</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet (Siège Wageningen)"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Maïté Zammattio</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Knowledge Management and Communication (KMC) programme', 'fr': "Programme Gestion des Connaissances & Communication"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Thierry Doudet</p>
                            <p class="job-title">{{ {'en': 'Manager CKM & Acting Manager Corporate services', 'fr': "Chef de Programme, Gestion des Connaissances & Communication et (par intérim) Chef de Programme Services Communs"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Mirjam Bos</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante administrative"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Communications', 'fr': "Communication"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Toby Johnson</p>
                            <p class="job-title">{{ {'en': 'Team Leader, Communications', 'fr': "Chef d’équipe, Communication"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Stéphane Gambier</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Communications', 'fr': "Coordonnateur de Programme Sr, Communication"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Murielle Vandreck</p>
                            <p class="job-title">{{ {'en': 'Programme Coordinator, Publications', 'fr': "Coordonnateur de Programme, Publications"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Bertil Videt</p>
                            <p class="job-title">{{ {'en': 'Programme Coordinator, Marketing & Communication', 'fr': "Coordonnateur de Programme, Marketing & Communication"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Thierry Lewyllie</p>
                            <p class="job-title">{{ {'en': 'Programme Coordinator, Web', 'fr': "Coordonnateur de Programme, Web"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Olivier Hersperger</p>
                            <p class="job-title">{{ {'en': 'Web Content Manager', 'fr': "Responsable du Contenu Web"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Anne Legroscollard</p>
                            <p class="job-title">{{ {'en': 'Communication Officer', 'fr': "Chargée de Communications"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Evelyne Kort-Nerincx</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante administrative"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Gabriela Bahre</p>
                            <p class="job-title">{{ {'en': 'Data Assistant', 'fr': "Assistante Traitement des données"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Husna Yagoub</p>
                            <p class="job-title">{{ {'en': 'Data Assistant', 'fr': "Assistante Traitement des données"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Knowledge Management', 'fr': "Gestion des Connaissances"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Krishan Bheenick</p>
                            <p class="job-title">{{ {'en': 'Sr Programme Coordinator, Knowledge Mgt', 'fr': "Coordonnateur de Programme Sr, Gestion des connaissances"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Jorge Chávez-Tafúr</p>
                            <p class="job-title">{{ {'en': 'Project Coordinator, KM – Experience Capitalization', 'fr': "Coordinateur du projet Capitalisation Expérience"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Merche Rodriguez</p>
                            <p class="job-title">{{ {'en': 'Project Assistant', 'fr': "Assistante de Projet"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Learning, Monitoring and Evaluation (LME) unit', 'fr': "Unité Apprentissage, Suivi & Évaluation (ASE)"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Ibrahim Khadar</p>
                            <p class="job-title">{{ {'en': 'Manager, Learning, Monitoring & Evaluation Unit', 'fr': "Chef d’unité, Apprentissage, Suivi & Évaluation"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Tarikua Woldetsadick</p>
                            <p class="job-title">{{ {'en': 'LME Officer', 'fr': "Chargée d’Apprentissage, Suivi et Évaluation"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Aurélie Reynier</p>
                            <p class="job-title">{{ {'en': 'M&E Officer', 'fr': "Chargée de Suivi & Évaluation"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Raya Dekkers</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante administrative"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ {'en': 'Corporate Services Department (CSD)', 'fr': "Département des Services Communs"}|t(locales) }}</p>
            <div class="credit">
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Pascal Deleu</p>
                            <p class="job-title">{{ {'en': 'Head of Human Resources and Administration', 'fr': "Chef de département Ressources Humaines et Administration"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Christine Webster</p>
                            <p class="job-title">{{ {'en': 'Sr Procurement and Grants Coordinator', 'fr': "Coordonnatrice Sr, Achats et des Subventions"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Christèle Coutureau</p>
                            <p class="job-title">{{ {'en': 'Human Resources Officer', 'fr': "Chargée des Ressources Humaines"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Julia Nijhof</p>
                            <p class="job-title">{{ {'en': 'Human Resources Assistant', 'fr': "Assistante aux Ressources Humaines"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Ellen van Dijk</p>
                            <p class="job-title">{{ {'en': 'Administrative Assistant', 'fr': "Assistante Administrative"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Igor Biskupic</p>
                            <p class="job-title">{{ {'en': 'ICT Coordinator', 'fr': "Coordonnateur TIC"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Louis Kolkman</p>
                            <p class="job-title">{{ {'en': 'IT Technician', 'fr': "Technicien Informatique"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
                <div class="credit__cell  |  gutters">
                    <ul class="reset">
                        <li class="trailer--small">
                            <p>Peter Albers</p>
                            <p class="job-title">{{ {'en': 'Head of Finance (acting)', 'fr': "Chef des Finances (par intérim)"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Serge Adolph</p>
                            <p class="job-title">{{ {'en': 'Account Payable Assistant ', 'fr': "Aide-comptable"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Marco van Maurik</p>
                            <p class="job-title">{{ {'en': 'Account Payable Assistant', 'fr': "Aide-comptable"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Ad Biemans</p>
                            <p class="job-title">{{ {'en': 'Caretaker', 'fr': "Huissier / Services Géneraux"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Thomas Mendo Essiane</p>
                            <p class="job-title">{{ {'en': 'Messenger / Driver', 'fr': "Messager / Chauffeur"}|t(locales) }}</p>
                        </li>
                        <li class="trailer--small">
                            <p>Manuela van Betuw</p>
                            <p class="job-title">{{ {'en': 'Receptionist', 'fr': "Réceptionniste"}|t(locales) }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
