{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<a href="{{ route({'page': 'search?type=article.' ~ model.articleType}) }}">
    {{ ('content_type_category_' ~ model.articleType)|t(locales) }}
</a>
