{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<aside class="{{ [config.container_class|t(locales)]|join("  |  ") }} {{ config.show_divider ? ' divider divider--top'}}">
    <h2 class="title title--sub-section  |  leader--small  |  trailer--small">{{ labels.lead|t(locales) }}</h2>
    <p class="body--quiet">{{ labels.body|t(locales) }}</p>
</aside>
