<div class="grid__cell  |  gutters  |  trailer">
    <p class="post__meta  |  trailer--small">
        <a class="meta" href="#">Dossier: Scaling</a>
    </p>
    <h3 class="heading  |  anchor--reset">
        <a class="anchor anchor--shy  |  is-heir" href="#">A High priority for agriculture</a>
    </h3>
    <p class="post__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
</div>
