// to do: import piecss colour constants

/*
Colour

Styleguide 1.1
*/

/*
Base colours

$color-black - #000
$color-green - #67ab43
$color-dark-green - #1d673b

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.1
*/

$color-black: $black;
$color-green: #67ab43;
$color-dark-green: #1d673b;


/*
Spot colours

$color-blue - #56c0dd
$color-lime - #c1d435
$color-yellow - #facf21
$color-gold - #eb942c
$color-orange - #e26435
$color-salmon - #eb735d
$color-red - #ec2d10
$color-burgundy - #ba222a
$color-purple - #9b3381

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.2
*/

/* Brand */
$color-blue: #56c0dd;
$color-lime: #c1d435;
$color-yellow: #facf21;
$color-gold: #eb942c;
$color-orange: #e26435;
$color-salmon: #eb735d;
$color-red: #ec2d10;
$color-burgundy: #ba222a;
$color-purple: #9b3381;

/* Spore */
$color-spore-red: #f54c23;
$color-spore-teal: #077fc1;
$color-spore-blue: #3f68b1;
$color-spore-light-blue: #79accf;
$color-spore-dark-blue: #044e7e;
$color-spore-grey-blue: #6d8c9f;
$color-spore-lime: #bbae03;
$color-spore-olive-green: #778d3e;
$color-spore-forest-green: #5f810a;
$color-spore-ochre: #db9623;
$color-spore-brown: #774b04;
$color-spore-taupe: #7b6d65;

/* Theme */
$color-youth: #d57800;
$color-digitalisation: #9a3324;
$color-climate: #693c5e;
$color-gender: #046a38;
$color-nutrition: #487a7b;
$color-blog: #FFA300;



/*
Social media colours

$color-rss - RSS Orange
$color-twitter - Official Twitter blue
$color-facebook - Official Facebook blue
$color-linkedin - Official LinkedIn blue
$color-youtube - Official YouTube red
$color-youtube--dark - Official YouTube red (darker shade)

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.3
*/

$color-rss: #f60;
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-youtube: #e52d27;
$color-youtube--dark: #b31217;
$color-instagram: #fcaf45;
$color-vimeo: #162221;

/*
Applied colours

$color-background - Background colour
$color-body - Body colour
$color-theme - Theme colour
$color-primary - Primary colour
$color-secondary - Secondary colour
$color-button - Primary button colour

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1.4
*/

$color-background: $white;
$color-border: #ccc;
$color-body: mix($color-black, $white, 76%);
$color-theme: $color-green;
$color-primary: $color-dark-green;
$color-secondary: $color-green;

/* Mixing colours */
$color-highlight: $white;
$color-shadow: $color-black;

/* Button colours */
$color-button: $color-secondary;

/* Links colours */
$color-anchor: mix($color-highlight, $color-green, 30%);
$color-anchor--hover: $color-yellow;
$color-anchor--active: mix($color-shadow, $color-yellow, 30%);
$color-anchor--visited: mix($color-shadow, $color-green, 30%);

/* Collections */

$brand-colours: (
    dark: $color-body,
    blue: $color-blue,
    lime: $color-lime,
    yellow: $color-yellow,
    gold: $color-gold,
    orange: $color-orange,
    salmon: $color-salmon,
    red: $color-red,
    burgundy: $color-burgundy,
    purple: $color-purple
);
$theme-colours: (
    youth: $color-youth,
    digitalisation: $color-digitalisation,
    climate: $color-climate,
    gender: $color-gender,
    nutrition: $color-nutrition,
    blog: $color-blog
);
$spore-colours: (
    spore-blue: $color-spore-blue,
    spore-brown: $color-spore-brown,
    spore-dark-blue: $color-spore-dark-blue,
    spore-forest-green: $color-spore-forest-green,
    spore-grey-blue: $color-spore-grey-blue,
    spore-light-blue: $color-spore-light-blue,
    spore-lime: $color-spore-lime,
    spore-ochre: $color-spore-ochre,
    spore-olive-green: $color-spore-olive-green,
    spore-red: $color-spore-red,
    spore-taupe: $color-spore-taupe,
    spore-teal: $color-spore-teal
);
$colours: map-merge(map-merge($brand-colours, $theme-colours), $spore-colours);
