.download {
	position: relative;
	background: $color-theme;
	padding: rhythm(6) 0;
	&-wrapper {
		background: $color-body;
		width: 100%;
	}
	@include breakpoint($gt-small-desktop) {
		position: absolute;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		&-wrapper {
			padding-left: 6 / 18 * 100vw;
			padding-right: 6 / 18 * 100vw;
		}
	}
	&-title {
		@include meta;
		color: $white;
		font-size: to-unit(22px);
		font-weight: bold;
		text-align: center;
	}
}
