.header {
	position: relative;
	padding-bottom: 100vh;
	&--file,
	&--video {
		padding-bottom: 56.2vw;
	}
	&-overlay,
	&-cover {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		padding-bottom: inherit;
	}
	&-overlay {
		background-size: cover;
		background-image: linear-gradient(-180deg, rgba($black, 0) 0%, rgba($black, .6) 67%);
	}
	&-brand {
		position: absolute;
		top: 0;
		left: 0;
	}
	&-title {
		position: absolute;
		right: 0;
		bottom: 30px; 
		left: 0;
	}
	&__sponsor {
		position: fixed;
		bottom: rhythm(7);
		left: $gutter-width / 2;
		max-width: rhythm(50);
	}
	.image--spread {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	&__title {
		text-align: center;
		height: 66vh;
	}
	&--file &__title,
	&--video &__title {
		height: 37vw;
	}
	&__crest {
		height: to-unit(114px);
		width: to-unit(114px);
	}
	&__caption {
		text-align: right;
		position: relative;
		top: -1em;
	}
	&--file &-cover,
	&--file &-overlay,
	&--video &-cover,
	&--video &-overlay {
		height: 56.2vw;
	}
	&--file &-cover,
	&--video &-cover {
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	&--file video,
	&--video video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 56.2vw;
	}
	&--file &-cover,
	&--file &-overlay,
	&--video &-cover,
	&--video &-overlay {
		bottom: auto;
		padding-bottom: 56.2vw;
	}

	@include breakpoint($portrait) {
		.image--spread {
			width: 100vw;
			height: 4/3*100vw;
		}
	}
	@include breakpoint($landscape) {
		.image--spread {
			width: 4/3*100vh;
			height: 100vh;
		}
	}
	@include breakpoint("(max-aspect-ratio: 3/4)") {
		.image--spread {
			width: 3/4*100vh;
			height: 100vh;
		}
	}
	@include breakpoint("(min-aspect-ratio: 4/3)") {
		.image--spread {
			width: 100vw;
			height: 3/4*100vw;
		}
	}
	@include breakpoint($gt-small-handheld) {
		&__title {
			padding-left: 1 / 6 * 100vw;
			padding-right: 1 / 6 * 100vw;
		}
	}
	@include breakpoint($gt-small-desktop) {
		&__caption {
			top: 2em;
		}
		&__sponsor {
			left: 1 / 18 * 100vw;
			max-width: 100%;
		}
		&__title {
			padding-left: 2 / 18 * 100vw;
			padding-right: 2 / 18 * 100vw;
		}

	}
	@include breakpoint($gt-medium-desktop) {
		&__title {
			padding-left: 4 / 18 * 100vw;
			padding-right: 4 / 18 * 100vw;
		}
	}
	@include breakpoint($gt-large-desktop) {
		&__title {
			padding-left: 4 / 18 * 100vw;
			padding-right: 4 / 18 * 100vw;
		}
		&--file &-cover,
		&--video &-cover {
			&::after {
				background: rgba(0,0,0,.10);
			}
		}
	}
	@include breakpoint($lt-small-desktop) {
		&__title {
			font-size: 70%;
		}
	}
	
}

.sections {
	height: 100vh;
	position: relative;
}

.inset {
	position: relative;
	z-index: 3;
	background: $color-body;
	@include breakpoint($gt-small-desktop) {
		padding-left: 2 / 18 * 100vw;
		padding-right: 2 / 18 * 100vw;
	}
	@include breakpoint($gt-medium-desktop) {
		padding-left: 4 / 18 * 100vw;
		padding-right: 4 / 18 * 100vw;
	}
	@include breakpoint($gt-large-desktop) {
		padding-left: 4 / 18 * 100vw;
		padding-right: 4 / 18 * 100vw;
	}
}
