<!-- Temp container -->
<div class="leader--hero trailer--hero" style="max-width: 400px;">
    <div class="trend  |  theme--spore-oker">
        <div class="trend__image  |  is-root">
            <img class="image" src="https://res.cloudinary.com/cta/image/upload/w_1480,ar_3:2,f_auto,c_fill/ohwhjqxdtrp2qvspxlod" alt="">
            <p class="trend__label  |  label">Entrepreneurship</p>
        </div>
        <div class="trend__body  |  well well--neutral well--slim-fit  |  leader-inside">
            <div class="is-gt-small-desktop  |  stack stack--stacked">
                <div class="stack__unit  |  gutters">
                    <h2 class="title  |  trend__title  |  trailer">Latest trending articles</h2>
                    <p class="meta">
                        <time datetime="2018-11-07T13:09:28+00:00"> 7 November 2018</time>
                        in <span>Blog</span>
                    </p>
                    <div class="block-link">
                        <a class="meta--lowercase  |  is-heir" href="https://www.frontender-uat-v2.cta.int/en/youth/article/youth-entrepreneurship-for-next-generation-agriculture-sid038192820-d754-4c37-b998-7bf8e44bf89e">Youth entrepreneurship for next generation agriculture</a>
                    </div>
                </div>
                <div class="stack__unit stack__pin">
                    <div class="leader-inside--small  |  trailer-inside--small">
                        <a class="block-link  |  gutters" href="#">view all articles</a>
                    </div>
                </div>
            </div>
            <div class="gutters  |  trailer-inside  |  is-lt-small-desktop">
                <h3 class="heading  |  trailer--small  |  anchor--reset">
                    <a class="anchor anchor--shy  |  is-heir" href="#">Entrepreneurship</a>
                </h3>
                <p class="trailer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>



<!-- Temp container -->
<div class="leader--hero trailer--hero" style="max-width: 800px;">
    <div class="trend trend--wide  |  theme--spore-oker">
        <div class="trend__image  |  is-root">
            <img class="image" src="https://res.cloudinary.com/cta/image/upload/w_1480,ar_3:2,f_auto,c_fill/ohwhjqxdtrp2qvspxlod" alt="">
            <p class="trend__label  |  label">Entrepreneurship</p>
        </div>
        <div class="trend__body  |  well well--neutral well--slim-fit  |  leader-inside">
            <div class="is-gt-small-desktop  |  stack stack--stacked">
                <div class="stack__unit  |  gutters">
                    <h2 class="title  |  trend__title  |  trailer">Latest trending articles</h2>
                    <p class="meta">
                        <time datetime="2018-11-07T13:09:28+00:00"> 7 November 2018</time>
                        in <span>Blog</span>
                    </p>
                    <div class="block-link">
                        <a class="meta--lowercase  |  is-heir" href="https://www.frontender-uat-v2.cta.int/en/youth/article/youth-entrepreneurship-for-next-generation-agriculture-sid038192820-d754-4c37-b998-7bf8e44bf89e">Youth entrepreneurship for next generation agriculture</a>
                    </div>
                </div>
                <div class="stack__unit stack__pin">
                    <div class="leader-inside--small  |  trailer-inside--small">
                        <a class="block-link  |  gutters" href="#">view all articles</a>
                    </div>
                </div>
            </div>
            <div class="gutters  |  trailer-inside  |  is-lt-small-desktop">
                <h3 class="heading  |  trailer--small  |  anchor--reset">
                    <a class="anchor anchor--shy  |  is-heir" href="#">Entrepreneurship</a>
                </h3>
                <p class="trailer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>
