/*
ICT Update - Post Body

markup:
<div class="layout layout--reverse">
    <div class="layout__cell layout__cell--main">
        <div class="layout">
            <div class="layout__cell layout__cell--main  |  trailer--hero">
                <div class="social__share  |  trailer  |  gutters">
                    <ul class="share-list reset list--float">
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--whisper share--facebook share--facebook-branded" title="Share on Facebook" href="https://www.facebook.com/dialog/feed?app_id=145634995501895&amp;display=popup&amp;caption=Creating-ICT-opportunities-with-the-apps4ag-database&amp;redirect_uri=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681&amp;link=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681" target="_blank">
                                <span data-icon="facebook" class="icon icon--facebook">
                                    <span>
                                        <span class="is-narrative">Share on Facebook</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--whisper share--twitter share--twitter-branded" title="Share on Twitter" href="http://www.twitter.com/share?url=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681" target="_blank">
                                <span data-icon="twitter" class="icon icon--twitter">
                                    <span>
                                        <span class="is-narrative">Share on Twitter</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--whisper share--print" title="Print" href="javascript:print();">
                                <span data-icon="print" class="icon icon--print">
                                    <span>
                                        <span class="is-narrative">Print</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--whisper share--email" title="Send link via E-mail" href="mailto:?subject=Creating-ICT-opportunities-with-the-apps4ag-database&amp;body=">
                                <span data-icon="email" class="icon icon--envelope">
                                    <span>
                                        <span class="is-narrative">Send link via E-mail</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <footer class="gutters  |  trailer--hero">
                    <p class="meta">Tuesday, 20 June 2017 in <a href="/en/ictupdate/issue-85/article/-sid04661ea79-6f24-4cf9-81eb-0cad58487186">Applications for agriculture</a>. Updated on Tuesday, 30 January 2018</p>
                    <div class="media__content  |  body--whisper  |  leader--tiny">
                        by Benjamin Addom - Programme Coordinator, ICT4D at CTA, Netherlands
                    </div>
                </footer>
                <div class="post-anchor  |  clear">
                    <p class="gutters  |  paragraph--lead">In ICT Update and on websites as ICT4D, CTA has covered the explosive growth and proliferation of digital and mobile phone technologies for agriculture. Now CTA takes the next step with developing the Apps4Ag database, a comprehensive,
                        up-to-date and responsive database of ICTs including mobile, web, animation, audio, and video applications involved in the food value chains.
                    </p>
                    <p class="paragraph  |  gutters">The ubiquity of ICTs, especially mobile technologies, is noticeably transforming the way individuals and institutions exchange information and interact. Still, rural populations in developing countries, in particular the millions of
                        smallholder farmers, only marginally benefit from the potentials linked to adoption and use of these new technologies. The solution to speeding up the uptake of ICTs, mainly through mobile devices, by smallholders is two-fold:
                        firstly, ensuring that smallholders are aware of the benefits of using the applications on their devices, and secondly, ensuring that smallholders are able to benefit from the penetration of the internet into rural areas. Both
                        are eminent for improving production and marketing efficiency and the effectiveness of farmers’ business and livelihoods.</p>
                    <p class="paragraph  |  gutters">Many initiatives and studies already have shown the opportunities of mobile applications for stakeholders in the agricultural sector. The World Bank published <em>Mobile Applications for Agriculture and Rural Development</em> in 2011
                        and there is GSMA’s mAgri Deployment Tracker among many other initiatives. Still, there is not one comprehensive and interactive database that collects information from all available ICTs and mobile applications for agriculture.
                        That is why CTA and partners initiated the Apps4Ag framework immediately after the 2013 ICT4Ag International Conference in Kigali, Rwanda and why we are now asking you to try out this version and give us some feedback and contribute
                        content. </p>
                    <h2 class="heading  |  gutters">Sustainable platform for interaction</h2>
                    <p class="paragraph  |  gutters">Over the years, CTA has shown its profound experience in knowledge management for agriculture and rural development. With its current expertise in ICTs for agriculture and rural development, and its leadership in the organisation of
                        the ICT4Ag Conference, CTA aims with Apps4Ag to address the need and provide the agricultural value chain development community and the app development community with a sustainable platform for interaction that meets the rapidly
                        changing requirements of these stakeholders.</p>
                    <p class="paragraph  |  gutters">There were three specific objectives and needs for Apps4Ag database. First, developing an agricultural value chain framework upon which the apps will be mapped to facilitate use by value chain actors. Second, collating and documenting
                        ICT applications for agriculture. Third, developing a framework for assessing the usability and functionality of these applications for agricultural value chain development.</p>
                    <p class="paragraph  |  gutters">The database will become the centerpiece for new opportunities to facilitate and support up-scaling of ICTs for agriculture initiatives with support from the ICT4Ag Community of Practice that will evaluate the applications. Apps4Ag
                        database will boost information dissemination, knowledge exchange, extension and advisory service delivery, farmer engagement, and market access for both agricultural inputs and outputs.</p>
                    <h2 class="heading  |  gutters">Keeping the database up-to-date</h2>
                    <p class="paragraph  |  gutters">The database is expected to be interactive with a feedback and update form for users to submit information on applications that are not currently in the database or for developers to correct and update information on their solutions.
                        Feedbacks and new submissions will be received, validated and updated by CTA for quality purposes.</p>
                    <p class="paragraph  |  gutters">Now the database is operational within its framework, it will guide the definition of requirements arising from evaluations by the ICT4Ag Community of Practice, and act as a guide for new applications yet to be developed. The ICT4Ag
                        Community of Practice will be able to apply the framework and submit their evaluations of new apps, or new versions of existing apps. The community is expected to grow with increasing confidence in their ability review, assess,
                        and rate the applications using the framework. CTA remains committed to sustaining the community and the platform as it provides a neutral environment to monitor the development of apps in the agricultural sector, not only to satisfy
                        its mandate of support to agricultural and rural development institutions in ACP regions, but also as an international open and accessible resource.</p>
                    <p class="paragraph  |  gutters">The Apps4Ag database project, through its different components, is expected to address the current challenge facing most ICT4Ag initiatives: to scale up and be sustainable after donor support ends. Scaling up requires systemic effort,
                        long-term commitment on the part of institutions, donors, and individuals. It requires a basic set of institutional values and incentives for key actors to continuously identify ways to build on successful interventions ensuring
                        that they are replicated, transferred, and adapted in other settings. Current efforts and ideas to increase impact and upscaling can be read in this issue of ICT Update, for example in the articles of Christian Merz (Bill &amp;
                        Melinda Gates Foundation) and Richard Duncombe (University of Manchester). It will also showcase some interesting ICTs and mobile applications that you can find in the Apps4Ag database.</p>
                    <h2 class="heading  |  gutters">Related links</h2>
                    <p class="paragraph  |  gutters">Link to the <a href="http://www.apps4ag.org/" target="_blank">Apps4Ag database</a></p>
                    <p class="paragraph  |  gutters">Link to the ICT4Ag online platform</p>
                    <figure class="gutters  |  leader leader-inside--small  |  trailer trailer-inside--small">
                        <img class="image image--stretch" src="https://res.cloudinary.com/cta/image/upload/v1505749758/c69x3ej3plfrkexfva0m.jpg" alt="Creating ICT opportunities with the apps4ag database">
                    </figure>
                </div>
                <div class="gutters  |  trailer  |  leader">
                    <ul class="reset  |  tag-list  |  list--inline">
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_330966">information</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_331436">application</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_14343">smallholders</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_11768">Information dissemination</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_37890">Knowledge management</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_203">agriculture</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_28563">solutions</a></li>
                        <li> <a class="label label--s" href="/en/search?concepts[]=c_1312459073954">market access</a></li>
                    </ul>
                </div>
                <div class="well well--slim-fit  |  gutters-outside  |  leader  |  trailer  |  is-gt-small-desktop">
                    <ul class="share-list reset list--float">
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--facebook share--facebook-branded" title="Share on Facebook" href="https://www.facebook.com/dialog/feed?app_id=145634995501895&amp;display=popup&amp;caption=Creating-ICT-opportunities-with-the-apps4ag-database&amp;redirect_uri=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681&amp;link=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681" target="_blank">
                                <span data-icon="facebook" class="icon icon--facebook">
                                    <span>
                                        <span class="is-narrative">Share on Facebook</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--twitter share--twitter-branded" title="Share on Twitter" href="http://www.twitter.com/share?url=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681" target="_blank">
                                <span data-icon="twitter" class="icon icon--twitter">
                                    <span>
                                        <span class="is-narrative">Share on Twitter</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--print" title="Print" href="javascript:print();">
                                <span data-icon="print" class="icon icon--print">
                                    <span>
                                        <span class="is-narrative">Print</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--email" title="Send link via E-mail" href="mailto:?subject=Creating-ICT-opportunities-with-the-apps4ag-database&amp;body=">
                                <span data-icon="email" class="icon icon--envelope">
                                    <span>
                                        <span class="is-narrative">Send link via E-mail</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <aside class="gutters-outside  |  divider divider--top  |  leader--hero leader-inside--small">
                    <h2 class="title title--sub-section  |  leader--small  |  trailer--small">Disclaimer</h2>
                    <p class="body--quiet">This document has been produced with the financial assistance of the European Union. The contents of this document are the sole responsibility of CTA and can under no circumstances be regarded as reflecting the position of the European
                        Union.
                    </p>
                </aside>
            </div>
            <div class="layout__cell layout__cell--aside layout__cell--aside--l  |  wings">
                <div class="well well--slim-fit  |  gutters-outside  |  leader  |  trailer  |  is-lt-small-desktop">
                    <ul class="share-list reset list--float">
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--facebook share--facebook-branded" title="Share on Facebook" href="https://www.facebook.com/dialog/feed?app_id=145634995501895&amp;display=popup&amp;caption=Creating-ICT-opportunities-with-the-apps4ag-database&amp;redirect_uri=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681&amp;link=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681" target="_blank">
                                <span data-icon="facebook" class="icon icon--facebook">
                                    <span>
                                        <span class="is-narrative">Share on Facebook</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--twitter share--twitter-branded" title="Share on Twitter" href="http://www.twitter.com/share?url=http://cta.platform.local/en/ictupdate/issue-85/article/creating-ict-opportunities-with-the-apps4ag-database-sid05cffb2b5-3d5c-4299-b45a-d7e421d80681" target="_blank">
                                <span data-icon="twitter" class="icon icon--twitter">
                                    <span>
                                        <span class="is-narrative">Share on Twitter</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--print" title="Print" href="javascript:print();">
                                <span data-icon="print" class="icon icon--print">
                                    <span>
                                        <span class="is-narrative">Print</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="share-list__item divider  divider--left">
                            <a class="label share share--email" title="Send link via E-mail" href="mailto:?subject=Creating-ICT-opportunities-with-the-apps4ag-database&amp;body=">
                                <span data-icon="email" class="icon icon--envelope">
                                    <span>
                                        <span class="is-narrative">Send link via E-mail</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--aside layout__cell--aside--l  |  wings">
        <div class="mini-map  |  well well--neutral well--slim-fit  |  gutters-outside  |  trailer--hero">
            <div class="mini-map__map">
                <div id="map" style="height: 250px; position: relative; overflow: hidden;">
                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                        <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                            <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
                                <div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                            <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                <div style="width: 256px; height: 256px; position: absolute; left: -205px; top: -222px;"></div>
                                                <div style="width: 256px; height: 256px; position: absolute; left: -205px; top: 34px;"></div>
                                                <div style="width: 256px; height: 256px; position: absolute; left: 51px; top: -222px;"></div>
                                                <div style="width: 256px; height: 256px; position: absolute; left: 51px; top: 34px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                            <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -205px; top: -222px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -205px; top: 34px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 51px; top: -222px;"></div>
                                                <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 51px; top: 34px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                                        <div style="overflow: hidden; width: 272px; height: 250px;"><img src="https://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i9421&amp;2i8158&amp;2e1&amp;3u6&amp;4m2&amp;1u272&amp;2u250&amp;5m5&amp;1e0&amp;5sen-US&amp;6sus&amp;10b1&amp;12b1&amp;token=93261" style="width: 272px; height: 250px;"></div>
                                    </div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                        <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                            <div style="position: absolute; left: -205px; top: -222px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i6!2i36!3i31!4i256!2m3!1e0!2sm!3i410108733!3m9!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=21452" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                            <div style="position: absolute; left: -205px; top: 34px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i6!2i36!3i32!4i256!2m3!1e0!2sm!3i410108733!3m9!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=57473" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                            <div style="position: absolute; left: 51px; top: -222px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i6!2i37!3i31!4i256!2m3!1e0!2sm!3i410108733!3m9!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=78639" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                            <div style="position: absolute; left: 51px; top: 34px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i6!2i37!3i32!4i256!2m3!1e0!2sm!3i410108733!3m9!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=114660" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;">
                                    <p class="gm-style-pbt"></p>
                                </div>
                                <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;">
                                    <div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div>
                                </div>
                                <div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div>
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                                </div>
                            </div>
                            <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                                <a target="_blank" href="https://maps.google.com/maps?ll=-2,30&amp;z=6&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                                    <div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div>
                                </a>
                            </div>
                            <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 218px; height: 148px; position: absolute; left: 5px; top: 35px;">
                                <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
                                <div style="font-size: 13px;">Map data ©2018 Google</div>
                                <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                            </div>
                            <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 71px; bottom: 0px; width: 121px;">
                                <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                        <div style="width: 1px;"></div>
                                        <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                    </div>
                                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2018 Google</span></div>
                                </div>
                            </div>
                            <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                                <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div>
                            </div>
                            <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                                <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                    <div style="width: 1px;"></div>
                                    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                </div>
                                <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div>
                            </div><button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; top: 0px; right: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></button>
                            <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;">
                                <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                    <div style="width: 1px;"></div>
                                    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                </div>
                                <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@-2,30,6z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div>
                            </div>
                            <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;">
                                <div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;">
                                    <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></button>
                                        <div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></button></div>
                                </div>
                                <div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px;">
                                    <div style="position: absolute; left: 1px; top: 1px;"></div>
                                    <div style="position: absolute; left: 1px; top: 1px;">
                                        <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                        <div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                        <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    </div>
                                </div>
                                <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;">
                                    <div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                </div>
                            </div>
                            <div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;">
                                <div class="gm-style-mtc" style="float: left; position: relative;">
                                    <div role="button" tabindex="0" title="Show street map" aria-label="Show street map" aria-pressed="true" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 22px; font-weight: 500;">Map</div>
                                    <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; left: 0px; top: 29px; text-align: left; display: none;">
                                        <div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span>
                                            <label style="vertical-align: middle; cursor: pointer;">Terrain</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="gm-style-mtc" style="float: left; position: relative;">
                                    <div role="button" tabindex="0" title="Show satellite imagery" aria-label="Show satellite imagery" aria-pressed="false" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 40px; border-left: 0px;">Satellite</div>
                                    <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; right: 0px; top: 29px; text-align: left; display: none;">
                                        <div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span>
                                            <label style="vertical-align: middle; cursor: pointer;">Labels</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(function($) {
                        $('#map').gmaps({
                            zoom: 6,
                            location: {
                                latitude: -2,
                                longitude: 30
                            },
                            marker: {
                                icon: '/assets/images/icons/gmaps_pin.png'
                            }
                        });
                    });
                </script>
            </div>
            <div class="mini-map__asset  |  divider divider--inverse divider--top  |  gutters  |  trailer-inside--small  |  leader-inside--small">
                <div class="media media--middle  |  location">
                    <span class="location__marker  |  media__figure">
                        <span class="icon icon--theme icon--drop icon--map-marker"><span class="is-narrative">Location:</span></span>
                    </span>
                    <div class="location__body  |  media__content">
                        <a class="is-heir" href="/en/search?location=49518">Rwanda</a>
                    </div>
                </div>
            </div>
        </div>
        <aside class="trailer--hero">
            <h2 class="title  |  trailer--normal  |  gutters">About the author</h2>
            <div class="media  |  leader--normal  |  trailer--normal">
                <div class="media__figure  |  gutters">
                    <img src="https://res.cloudinary.com/cta/image/upload/v1497037424/tomt8o4tph3qewiicvsv.png" width="50" height="50" alt=" Benjamin Addom">
                </div>
                <div class="media__body  |  gutter--right  |  body--whisper">
                    <p class="meta--bold  |  trailer--tiny">Benjamin Addom</p>
                    <p class="">Programme Coordinator, ICT4D at CTA</p>
                </div>
            </div>
        </aside>
    </div>
</div>

Styleguide 5.50.3.2
*/

// scss-lint:disable NestingDepth
.post-body {
    h2, h3, h4, h5, h6 {
        margin-top: rhythm(10);
        font-family: $font-family--meta;
        font-size: to-unit(18px);
        font-weight: 600;
    }
  p,
  ul,
  ol,
  figure {
    overflow: hidden;
  }
  ul {
    ul {
      margin: 0;
    }
    li {
    }
  }
  .share--list,
  .share-list {
    li {
      margin: 0;
    }
  }
  img {
    margin: 0 rhythm(10) 0 0;
    max-width: 100%;
    height: auto;
  }
  [itemprop="author"] img {
    margin-right: 0;
  }
  .wp-caption-text {
    font-size: to-unit(14px);
    font-style: italic;
  }
  blockquote {
    padding: 0 rhythm(10);
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    color: mix($color-shadow, $white, 26%);
    text-align: center;
    font-style: italic;
    font-size: rhythm(5);
    p {
      margin: rhythm(5) 0;
    }
  }
  .size-large,
  .size-full {
    @extend .image--stretch;
  }
  .alignright {
    float: right;
    margin-left: rhythm(5);
  }
  .alignleft {
    float: left;
  }
  .aligncenter {
    display: block;
    margin: 0 auto;
  }
}
// scss-lint:enable NestingDepth
