.publication-channel-hero {
    
    @include breakpoint($lt-large-handheld) {
        .publication-cover--pull-top {
            margin-top: gutter(.25);
        }
        .opinion .publication-cover {
            margin-bottom: rhythm(2);
        }
    }
    @include breakpoint($gt-large-handheld) {
        &__title {
            margin-left: 50%;
            margin-left: 3 / 12 * 100vw;
            padding-left: gutter(.5);
            padding-left: 0vw;
            padding-right: gutter(.5);
            padding-right: 0vw;
        }
        .opinion .publication-tile__body {
            padding-left: gutter(0);
            padding-right: gutter(0);
        }
    }
    @include breakpoint($gt-small-desktop) {
        &__title {
            margin-left: 160px;
            margin-left: 3 / 18 * 100vw;
        }
    }
    @include breakpoint($gt-medium-desktop) {
        &__title {
            margin-left: 160px;
            margin-left: 2 / 18 * 100vw;
        }
    }
}