<div class="grid grid--ctx ctx-form">
    {% include 'partials/search-fields/opportunity-type.html.twig' with {config: {container_class: 'grid__cell gutters ctx-form__item'}} %}
    {% include 'partials/search-fields/period.html.twig' with {config: {container_class: 'grid__cell gutters ctx-form__item'}} %}
</div>
