<div class="grid grid--ctx ctx-form">
    {% include 'partials/search-fields/area.html.twig' with {config: {container_class: 'grid__cell gutters ctx-form__item'}} %}
    {% include 'partials/search-fields/period.html.twig' with {config: {container_class: 'grid__cell gutters ctx-form__item'}} %}
    {% include 'partials/search-fields/issues-spore.html.twig' with {config: {container_class: 'grid__cell gutters ctx-form__item'}} %}
</div>
