<section class="gutters">
        <h2 class="title title--section">{{ {'en': 'Featured publication', 'fr': 'Featured publication'}|t(locales) }}</h2>

        <!-- Temporary publication. Select publication using Frontender lookup -->
        <article class="media  |  publication--wrapper  |  trailer  |  leader">
            <div class="media__figure">
                <div class="publication">
                    <img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1889_Cover_scan_yGcSfhg.png" alt="Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa" />
                </div>
            </div>
            <div class="media__content">
                <div class="media media--unfold">
                    <div class="media__body  |  gutters">
                        <h2 class="title  |  trailer--small">Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa</h2>
                    </div>
                </div>
            </div>
        </article>
        <a class="publication-download" href="javascript:void(0);">
            <div class="publication-download__item">
                Download
            </div>
            <div class="publication-download__item">
                PDF 120MB
            </div>
        </a>
        <!-- END:: Temporary publication. Select publication using Frontender lookup -->
    </section>