<div class="layout  layout">
    <div class="layout__cell layout__cell--main  |  trailer">
        <div class="media">
            <div class="media__figure  |  gutters">
                <span class="stamp">
                      <span class="stamp__body">Open</span>
                </span>
            </div>
            <div class="media__content  |  gutters">
                <h1 class="title">Lorem Ipsum Dolor Sit Amet</h1>
                <p class="meta  |  leader--small  |  trailer--small">
                    <strong>Deadline for receipt of tenders:</strong><br/>
                    28 February 2017 (or until the position is filled)
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--offset-stamp layout__cell--aside  |  wings  |  trailer">
        <div class="gutters">
            <p class="meta  |  leader--small  |  trailer--small">
                <strong>Indicative starting date:</strong><br/>
                As soon as possible
            </p>
            <p class="meta  |  leader--small  |  trailer--small">
                <strong>Type of contract:</strong><br/>
                Multiple framework contracts
            </p>
        </div>
    </div>
</div>

<hr class="reset  |  divider divider--bottom  |  gutters-outside  |  gutters-outside"/>

<div class="layout  layout  |  leader">
    <div class="layout__cell layout__cell--main  |  trailer">
        <div class="media">
            <div class="media__figure  |  gutters">
                <span class="stamp stamp--expiring">
                      <span class="stamp__body">Closing soon</span>
                </span>
            </div>
            <div class="media__content  |  gutters">
                <h1 class="title">Lorem Ipsum Dolor Sit Amet</h1>
                <p class="meta  |  leader--small  |  trailer--small">
                    <strong>Deadline for receipt of tenders:</strong><br/>
                    28 February 2017 (or until the position is filled)
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <ul class="tag-list  |  reset list--inline  |  leader--small">
                    <li><a class="tag" href="javascript:void(0);">Locally recruited staff</a></li>
                    <li><a class="tag" href="javascript:void(0);">Service contract notice</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--offset-stamp layout__cell--aside  |  wings  |  trailer">
        <div class="gutters">
            <p class="meta  |  leader--small  |  trailer--small">
                <strong>Indicative starting date:</strong><br/>
                As soon as possible
            </p>
            <p class="meta  |  leader--small  |  trailer--small">
                <strong>Type of contract:</strong><br/>
                Unit price contract
            </p>
        </div>
    </div>
</div>

<hr class="reset  |  divider divider--bottom  |  gutters-outside  |  gutters-outside"/>

<div class="layout  layout  |  leader">
    <div class="layout__cell layout__cell--main  |  trailer">
        <div class="media">
            <div class="media__figure  |  gutters">
                <span class="stamp stamp--closed">
                      <span class="stamp__body">Closed</span>
                </span>
            </div>
            <div class="media__content  |  gutters">
                <h1 class="title">Lorem Ipsum Dolor Sit Amet</h1>
                <p class="meta  |  leader--small  |  trailer--small">
                    <strong>Deadline for receipt of tenders:</strong><br/>
                    28 February 2017 (or until the position is filled)
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <ul class="tag-list  |  reset list--inline  |  leader--small">
                    <li><a class="tag" href="javascript:void(0);">Locally recruited staff</a></li>
                    <li><a class="tag" href="javascript:void(0);">Service contract notice</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--offset-stamp layout__cell--aside  |  wings  |  trailer">
        <div class="gutters">
            <p class="meta  |  leader--small  |  trailer--small">
                <strong>Indicative starting date:</strong><br/>
                As soon as possible
            </p>
            <p class="meta  |  leader--small  |  trailer--small">
                <strong>Type of contract:</strong><br/>
                Unit price contract
            </p>
        </div>
    </div>
</div>
