{% if omit_first|default(false) == true and model|length == 6 %}
  {#
    This scenario is added for the legacy landing page, where the first article is linked to directly 
    from the exposition well and thus needs to be omitted from the list. As the JS is written such 
    that it requires the article embedded on the page, we need to render the (hidden) article and not the tile. 
  #}
  {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
    model: model[0],
    tile_class: "article article--l",
    prev: model[5],
    next: model[1],
    hide_tile: true
  } %}
  <div class="article-group--row">
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[1],
        tile_class: "article",
        next: model[2],
        prev: model[5]
    } %}
  </div>
  <div class="article-group--row">
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[2],
        tile_class: "article",
        next: model[3],
        prev: model[6]
    } %}
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[3],
        tile_class: "article",
        next: model[4],
        prev: model[2]
    } %}
  </div>
  <div class="article-group--row">
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[5],
        tile_class: "article",
        next: model[6],
        prev: model[4]
    } %}
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[4],
        tile_class: "article",
        next: model[6],
        prev: model[3]
    } %}
  </div>
{% else %}
  <div class="article-group--row">
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[0],
        tile_class: "article",
        next: model[1],
        prev: model[5]
    } %}
  </div>
  <div class="article-group--row">
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[1],
        tile_class: "article",
        next: model[2],
        prev: model[0]
    } %}
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[2],
        tile_class: "article",
        next: model[3],
        prev: model[1]
    } %}
  </div>
  <div class="article-group--row">
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[3],
        tile_class: "article",
        next: model[4],
        prev: model[2]
    } %}
    {% include "containers/channels/exposition/_exposition__tile.html.twig" with {
        model: model[4],
        tile_class: "article",
        next: model[0],
        prev: model[3]
    } %}
  </div>
{% endif %}