{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}

{{ hashedPath('/assets/css/exposition.css')|addStyle('styles') }}

<div class="content-wrapper" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    {% for loopContainer in containers %}
        {% include loopContainer.template with loopContainer %}
    {% endfor %}
</div>
