{% macro profile() %}
	<div class="profile">
    <div class="profile__image" style="background-image: url(http://images.unsplash.com/photo-1477597073867-a0c34dba8be5?dpr=1&amp;auto=format&amp;fit=crop&amp;w300&amp;h=300&amp;q=80);background-repeat: no-repeat; background-size: cover;background-position: center center"></div>
    <div class="profile__text">
      <h4 class="profile__name  |  title  |  trailer--small">Lou Frank</h4>
      <div class="profile__sub-title">CEO, Human Rights Campaign</div>
    </div>
	</div>
{% endmacro %}


{% macro profile_small() %}
	<div class="profile  |  profile--small">
    <div class="profile__image" style="background-image: url(http://images.unsplash.com/photo-1477597073867-a0c34dba8be5?dpr=1&amp;auto=format&amp;fit=crop&amp;w300&amp;h=300&amp;q=80);background-repeat: no-repeat; background-size: cover;background-position: center center"></div>
    <div class="profile__text">
      <h4 class="profile__name  |  title">Lou Frank</h4>
    </div>
  </div>
{% endmacro %}