$icomoon-font-path: "fonts" !default;

$illustration-fishing-boat: "\e901";
$illustration-fishing-shore: "\e902";
$illustration-fish-market-supplier: "\e900";
$illustration-factory: "\e918";
$illustration-farmer-presentation: "\e92f";
$illustration-fish-market: "\e932";

