<div class="site-logo wings">
    <a class="site-logo__brand--cta gutters" href="javascript:void(0);">
        <figure class="brand--cta"><figcaption class="is-narrative">CTA Homepage</figcaption></figure>
    </a>
</div>