<div class="layout">
    <div class="layout__cell  |  media">
        <div class="media__figure">
            <span class="date">
              <span class="date__head">Dec</span>
              <span class="date__body">31</span>
            </span>
        </div>
        <div class="media__content">
            <h1>Lorem Ipsum Dolor Sit Amet</h1>
            <p class="meta">
                <strong>Closing date for application:</strong>
                28 February 2017 (or until the position is filled)
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="layout__cell layout__cell--aside">
        Aside
    </div>
</div>
