{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section class="article-headline  |  well well--full" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
	<div class="post-header__title layout layout--reverse">
      <div class="layout__cell">
          <div class="gutters  |  leader  |  trailer">
            <h1 class="post-header__headline title title--headline">{{ container_title|t(locales) }}</h1>
          </div>
      </div>
  </div>
</section>
