{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<article>
    <p class="meta">{{ model.dateModified|tdate('%e %B %Y') }}</p>
    <h2 class="title  |  leader--tiny  |  trailer--tiny">
        <a class="is-heir" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">{{ model.headline }}</a>
    </h2>
</article>
