{% import "macros/date.html.twig" as date %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% if config.show_title|default(1) %}
    <h2 class="title title--section  |  gutters">{{ labels.title|t(locales)|default('Award notices'|t(locales)) }}</h2>
{% endif %}

<ul class="reset  |  gutters  |  wing--right">
    {% for article in model %}
        <li class="leader trailer">
            {{ date.article(article.datePublished) }}
            <h3 class="title  |  anchor--reset">
                <a class="anchor anchor--shy  |  is-heir" href="{{ route({'page': article.path, 'slug': article.headline|t(locales)|slugify, id: article._id}) }}">
                    {{ article.headline }}
                </a>
            </h3>
        </li>
    {% endfor %}
</ul>

{% if config.show_link|default(1) %}
    <p class="leader leader-inside  |  anchor  |  gutters">
        {% include 'partials/menu-link.html.twig' with {link: labels.link, config: {anchor_class: 'block-link block-link--icon'}} %}
    </p>
{% endif %}
