{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% if event.sponsor|filterArray('website')|filterArray('avatar')|length > 0 %}
    <section class="panel  |  wing--right" id="sponsors" itemscope itemprop="sponsor">
        <h2 class="title">
            <a class="panel__trigger  |  gutters  |  is-heir" href="#sponsors">{{ 'Sponsors'|i18n }}</a>
        </h2>
        <div class="panel__body  |  gutters">
            <div>
                <div class="trellis  |  wing--right">
                    {% for sponsor in event.sponsor|filterArray('website')|filterArray('avatar') %}
                        <div class="trellis__cell  |  gutters  |  trailer" itemscope itemtype="https://schema.org/Organization">
                            <a href="{{ sponsor.website }}" target="_blank" itemprop="url">
                                {% if sponsor.avatar %}
                                    <img class="image" src="{{ sponsor.avatar }}" alt="" itemprop="logo" />
                                {% else %}
                                    <span itemprop="name">{{ sponsor.name|t(locales) }}</span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
