{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}

<section class="{{ ["is-clear", container_class]|join("  |  ") }}" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    {% for loopContainer in containers|slice(0,3) %}
        {% include loopContainer.template with loopContainer %}
    {% endfor %}
</section>
