{% import "macros/pagination.html.twig" as pagination %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<ul class="{{ ['reset  |  trailer-inside', container_class]|join('  |  ') }}">
    {% for event in model.events %}
        <li>
            {% include "partials/event/nested-media-with-fixed-aside.html.twig" with {'model': event} %}
            {% if not loop.last %}
                <hr class="reset  |  divider divider--bottom  |  gutters-outside  |  gutters-outside  |  trailer"/>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if config.show_pagination %}
    {{ pagination.extend(model, model.totalEvents, {
        model_name: 'Channels',
        adapter: 'SCR',
        target: '#' ~ config.id|t(locales) ~ ' > ul:last-of-type',
        layout: "partials/event/nested-media-with-fixed-aside-with-pagination.html.twig",
        config: {
            config: {
                id: config.id,
                show_pagination: config.show_pagination
            }
        }
    }) }}
{% endif %}
