<div class="triptych" style="background-image: url(http://images.unsplash.com/photo-1481889617387-82a8f2413b6b?dpr=1&fit=crop&w=1000&h=762&q=80)">
    {% include "modules/teaser-event/teaser-event.html.twig "%}
</div>
