{% import "macros/pagination.html.twig" as pagination %}

{% if config.show_first_hr|default(false) %}
    <hr class="reset  |  divider divider--bottom  |  gutters-outside  |  gutters-outside  |  leader  |  trailer"/>
{% endif %}

<div class="trellis trellis--l">
    {% for person in model.profile %}
        <div class="trellis__cell  |  gutters  |  trailer" itemprop="performer">
            {% include 'partials/person/tile.html.twig' %}
        </div>
    {% endfor %}
</div>

<div class="leader--hero  |  trailer--hero" data-pagination-parent>
    {{ pagination.extend(model, model.profileTotal, {
        model_name: 'Search',
        adapter: 'SCR',
        target: "[data-serp-profiles]",
        layout: "modules/serp/serp-persons/serp-persons-list-with-load-more.html.twig",
        config: {
            config: {
                show_first_hr: 'true'
            }
        }
    }) }}
</div>
