/*
Leaflet

NOTE: THESE ARE NO LONGER USED

.leaflet - Leaflet

markup:
<div class="{$modifiers}  |  well  |  wings">
    <div class="leaflet__tile  |  gutters">
        <sg-insert>4.8.6-2</sg-insert>
    </div>
    <div class="leaflet__testimonial  |  testimonial testimonial--align-center">
        <div class="testimonial__tile  |  gutters">
            <sg-insert>4.8.6-1</sg-insert>
        </div>
        <div class="testimonial__quote  |  gutters">
            <sg-insert>3.30</sg-insert>
        </div>
    </div>
    <div class="leaflet__shoots">
        <h3 class="title  |  trailer--tiny  |  gutters">Greenshoots for the future</h3>
        <p class="body--whisper  |  trailer  |  gutters">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="grid grid--posts  |  grid-decoration  |  gutters">
            <figure class="stat  |  grid__cell">
                <p class="stat__figure  |  trailer">60</p>
                <figcaption class="stat__caption  |  meta meta--s  |  gutters"><span class="is-narrative">60 </span>people from different ACP and European countries</figcaption>
            </figure>
            <figure class="stat  |  grid__cell">
                <p class="stat__figure  |  trailer">12</p>
                <figcaption class="stat__caption  |  meta meta--s  |  gutters"><span class="is-narrative">12 </span>different languages spoken in our offices</figcaption>
            </figure>
            <figure class="stat  |  grid__cell">
                <p class="stat__figure  |  trailer">200</p>
                <figcaption class="stat__caption  |  meta meta--s  |  gutters"><span class="is-narrative">200 </span>events attended in the last two years</figcaption>
            </figure>
            <figure class="stat  |  grid__cell">
                <p class="stat__figure  |  trailer">500</p>
                <figcaption class="stat__caption  |  meta meta--s  |  gutters"><span class="is-narrative">500 </span>tons of magazines published in the last three years</figcaption>
            </figure>
        </div>
    </div>
    <div class="leaflet__tile  |  gutters">
        <sg-insert>4.8.6-2</sg-insert>
    </div>
    <div class="leaflet__tile  |  gutters">
        <sg-insert>4.8.6-2</sg-insert>
    </div>
</div>

Styleguide 5.18
*/

.leaflet {
    display: flex;
    flex-wrap: wrap;
    .no-flexbox & {
        @include clearfix();
    }
    &__testimonial,
    &__tile,
    &__shoots {
        padding-top: gutter();
        padding-bottom: gutter();
    }
    @include breakpoint($gt-small-desktop) {
        &__testimonial {
            flex: 0 0 percentage(13 / 16);
            width: percentage(13 / 16);
            .no-flexbox & {
                max-width: percentage(13 / 16);
            }
        }
        &__shoots {
            flex: percentage(10 / 16);
            width: percentage(10 / 16);
            align-self: flex-end;
            .no-flexbox & {
                max-width: percentage(10 / 16);
            }
        }
        &__tile {
            flex: percentage(3 / 16);
            width: percentage(3 / 16);
            .no-flexbox & {
                max-width: percentage(3 / 16);
            }
        }
        &__testimonial,
        &__shoots,
        &__tile {
            .no-flexbox & {
                display: inline-block;
                float: left;
            }
        }
        .testimonial {
            &__tile {
                flex: 0 0 percentage(7/13);
                width: percentage(7/13);
                .no-flexbox & {
                    max-width: percentage(7/13);
                }
            }
        }
    }
}
