/*
Button

.button - Default button
.button.button--wide - Wider button
.button.button--stretch - Stretched default button
.button.button--shy - Borderless button
.button.button--inverse - Inversed button
.button.is-current - Active/current button
.button.is-disabled - Disabled button

markup:
<button class="{$modifiers}">Button</button>

Styleguide 3.5
*/

// scss-lint:disable NestingDepth
.button {
  @extend %meta-text;
  display: inline-block;
  padding: rhythm(3) rhythm(5);
  background: $white;
  text-decoration: none;
  font-size: to-unit(12px);
  font-weight: 600;
  line-height: 1em;
  &,
  &--dark,
  .well.well &--dark {
    border: $border-width solid $color-body;
    color: $color-body;
  }
  
  &:hover,
  &:active,
  &:focus,
  .well.well &--dark:hover {
    @include theme-border;
    @include theme-background;

    color: $white;
  }
  &--wide {
    padding: rhythm(3) rhythm(15);
  }
  &--stretch {
    width: 100%;
    text-align: center;
  }
  &--shy {
    border: 0;
    &:hover {
      color: $white;
    }
    &:visited {
      color: $color-theme;
      .theme--blue & {
        color: $color-blue;
      }
      .theme--lime & {
        color: $color-lime;
      }
      .theme--yellow & {
        color: $color-yellow;
      }
      .theme--gold & {
        color: $color-gold;
      }
      .theme--orange & {
        color: $color-orange;
      }
      .theme--salmon & {
        color: $color-salmon;
      }
      .theme--red & {
        color: $color-red;
      }
      .theme--burgundy & {
        color: $color-burgundy;
      }
      .theme--purple & {
        color: $color-purple;
      }
    }
  }
  .teaser &,
  .well &,
  &--inverse,
  &--dark {
    background: transparent;
  }
  .teaser &,
  .well--full &,
  &--inverse {
    border-color: $white;
    &,
    &:visited {
        color: $white;
    }
  }
  &.is-disabled {
    color: mix($color-body, $white, 26%);
    border-color: mix($color-body, $white, 26%);
    &:hover,
    &:active {
      cursor: not-allowed;
      background: transparent;
    }
  }
  &.is-current {
    color: $white;
    @include theme-border(100%);
    @include theme-background();
  }
  &-bar {
    text-align: center;
    & {
      display: inline-block;
    }
    &--center {
      display: flex;
      justify-content: space-around;
    }
  }
}

@include breakpoint($gt-small-desktop) {
  .button {
    // padding: rhythm(3.5) rhythm(10);
  }
}


// scss-lint:enable NestingDepth
