/*
Caption

.caption - Caption
.caption.caption--layout - Self aligned center
.caption.caption--right - Text aligned right

markup:
<p class="{$modifiers}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

Styleguide 3.42
*/

.caption {
    font-size: to-unit(14px);
    font-family: $font-family--meta;
    opacity: .84;
    word-break: break-word;
    font-smooth: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    .post-body .well & {
        padding-left: rhythm(3);
        padding-right: rhythm(3);
        font-weight: 400;
    }
    &--layout {
    	align-self: center;
    }
    &--right {
        @include breakpoint($gt-large-handheld) {
            text-align: right;
        }
    }
}

.caption__copyright {
	position: absolute;
	z-index: 2;
	bottom: rhythm(8);
	right: $gutter-width / 2;
	font-size: to-unit(12px);
	color: rgba(255, 255, 255, .6);
	@include breakpoint($gt-small-desktop) {
		bottom: rhythm(4);
		right: $gutter-width;
	}
}
