/*
Divider

1px border to one side of a container

.divider - Border to all sides
.divider.divider--top - Border top
.divider.divider--right - Border right
.divider.divider--bottom - Border bottom
.divider.divider--left - Border left
.divider.divider--inverse - White border

markup:
<div class="{$modifiers}">
  I have borders!
</div>

Styleguide 3.18
*/

.divider {
  // scss-lint:disable DuplicateProperty
  border: 0 solid mix($color-body, $white, 26%);
  border: 0 solid rgba($color-theme, .26);
  // scss-lint:enable DuplicateProperty
  
  &--right {
    border-right-width: 1px;
  }
  &--left {
    border-left-width: 1px;
  }

  &--top,
  &--bottom {
    &.gutters {
      position: relative;
      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: gutter(.5);
        right: gutter(.5);
        height: 0;
        border: inherit;
      }
    }
  }
  &--top {
    border-top-width: 1px;
    &.gutters {
      border-top-width: 0;
      &::after {
        top: 0;
        border-top-width: 1px;
      }
    }
  }
  &--bottom {
    border-bottom-width: 1px;
    &.gutters {
      border-bottom-width: 0;
      &::after {
        bottom: 0;
        border-bottom-width: 1px;
      }
    }
  }

  @include theme-border(26%);

  &--inverse {
    &,
    .theme & {
      border-color: $white;
      border-color: rgba($white, .4);
      .well--neutral & {
        border-color: $white;
      }
    }
  }
}
