/*
Footnotes

markup:
<h2 class="title title--sub-section  |  trailer">footnotes</h2>
<ol class="list list--footnotes">
	<li class="body--quiet"><span>Footnote 1</span></li>
	<li class="body--quiet"><span>Footnote 2</span></li>
</ol>

Styleguide 3.48
*/

.footNote {
	font-size: to-unit(12px);
	opacity: .76;
	counter-reset: footnote;
	p {
		margin-top: rhythm(4);
  	margin-bottom: rhythm(4);
	}
	.jumpToElement {
		opacity: 1;
		font-size: 1px;
		color: transparent;
		&:before {
			color: $color-theme;
			font-size: 12px;
			padding-right: 1em;
			counter-increment: footnote;
			content: counter(footnote)".";
		}
	}
}
