/*
Heading

Subheading in body copy

.heading - Heading
.heading.heading--sub - Subheading
.heading.heading--alternate - Heading with normal font-weight

markup:
<h1 class="{$modifiers}">Drone technology could help farmers around the world monitor their crops.</h1>

Styleguide 3.2
*/

.heading {
    // margin-top: rhythm(6);
    font-family: $font-family--meta;
    font-weight: $font-weight--meta;
    @include title-14px();
    // overflow: hidden;
    &,
    a &,
    & a {
        text-decoration: none;
        color: inherit;
    }
    &--tile {
        @include title-18px();
    }
    &--focus {
        @include title-16px();
    }
    &--sub {
        line-height: to-unit(rhythm(7), 1, 15px);
    }
    &--alternate {
        font-weight: 400;
    }
    @include breakpoint($gt-medium-handheld) {
        &--tile,
        &--hero {
          @include title-24px();
        }
    }
    @include breakpoint($gt-large-handheld) {
        font-size: to-unit(16px);
        &--apropos {
            font-size: to-unit(14px);
        }
        &--focus {
            @include title-20px();
        }
        // &--tile,
        // &--hero {
        //   @include title-24px();
        // }
    }
    @include breakpoint($gt-small-desktop) {
        // margin-top: rhythm(16);
        &--sub {
            margin-top: rhythm(10);
        }
        &--tile,
        &--hero {
          @include title-24px();
        }
    }
    @include breakpoint($gt-medium-desktop) {
        &--moderate {
          @include title-30px();
        }
        &--hero {
        @include title-48px();
        }
    }
}
