.opinion {
    display: block;
    position: relative;
    margin-bottom: rhythm(40);
    border-color: $white;
    &--slim-fit {
        display: inline-block;
    }
    &--theme {
        margin-bottom: 0;
        @include theme-border;
        &::after {
            opacity: .26;
        }
    }
    &--full::after {
        opacity: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: $gutter-width;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
        border-color: inherit;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
    .well--neutral {
        background: $white;
    }
    .layout--even > .layout__cell:first-of-type > & {
        margin-top: rhythm(20);
    }
    &__icons {
        font-size: to-unit(24px);
    }
    &__footer {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }
    &__heading {
        font-weight: 400;
    }

    @include breakpoint($gt-small-desktop) {
        &__heading {
            font-size: to-unit(28px);
        }
    }
}
