.opinion {
    position: relative;
    margin-bottom: rhythm(30);
    &--theme {
        margin-bottom: 0;
        &::after {
            @include theme-border;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: $gutter-width;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
        border-color: $white;
        .theme & {
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
    // &:before {
    //     content: "";
    //     position: absolute;
    //     top: 100%;
    //     left: 50%;
    //     @include theme-border();
    //     border-style: solid;
    //             border-width: rhythm(2);
    //     margin-left: rhythm(2) * -1;
    //     &,
    //     .theme & {
    //         border-left-color: transparent;
    //         border-right-color: transparent;
    //         border-bottom-color: transparent;
    //     }
    // }
    .well--neutral {
        background: $white;
    }
    .heading {
        // font-weight: 400;
    }
    .layout--even > .layout__cell:first-of-type > & {
        margin-top: rhythm(20);
    }
    &__icons {
        font-size: to-unit(24px);
    }
    &__footer {
        position: absolute;
        right: 0;
        bottom: -70px;
        left: 0;
    }
    &__heading {
        font-size: to-unit(34px);
        font-weight: 400;
        line-height: rhythm(13);
    }

    @include breakpoint($gt-small-desktop) {
        &__heading {
            margin-top: rhythm(10);
        }
        &__footer {
            bottom: -50px;
        }
    }
}

// .theme--spore-red .opinion--theme::after {
//     border-top-color: $color-spore-red;
// }
// .theme--spore-teal .opinion--theme::after {
//     border-top-color: $color-spore-teal;
// }
// .theme--spore-blue .opinion--theme::after {
//     border-top-color: $color-spore-blue;
// }
// .theme--spore-light-blue .opinion--theme::after {
//     border-top-color: $color-spore-light-blue;
// }
// .theme--spore-dark-blue .opinion--theme::after {
//     border-top-color: $color-spore-dark-blue;
// }
// .theme--spore-grey-blue .opinion--theme::after {
//     border-top-color: $color-spore-grey-blue;
// }
// .theme--spore-lime .opinion--theme::after {
//     border-top-color: $color-spore-lime;
// }
// .theme--spore-olive-green .opinion--theme::after {
//     border-top-color: $color-spore-olive-green;
// }
// .theme--spore-forest-green .opinion--theme::after {
//     border-top-color: $color-spore-forest-green;
// }
// .theme--spore-oker .opinion--theme::after {
//     border-top-color: $color-spore-oker;
// }
// .theme--spore-brown .opinion--theme::after {
//     border-top-color: $color-spore-brown;
// }
// .theme--spore-taupe .opinion--theme::after {
//     border-top-color: $color-spore-taupe;
// }
