/*
Teaser

A transparent box for use in teaser boxes (used in hero modules)

.teaser - Regular, white transparent box
.teaser.teaser--theme - Color box, matching the curent theme

markup:
<div class="{$modifiers}">
  Teaser
</div>

sg-wrapper:
<div class="hero theme" style="height: 400px; background-image: url('https://images.unsplash.com/reserve/Ceszw9OoQD6rwMhfDl9R_render0006.jpg?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
  <sg-wrapper-content/>
</div>

Styleguide 3.22
*/

.teaser {
  background: $white;
  background: rgba($white, .8);
  &--theme {
    @include theme-transparent-background(76%);
  }
  .hero--carousel & {
  	background: $white;
  	@include breakpoint($gt-medium-desktop) {
  		background: rgba($white, .8);
  	}
  }
}
