/*
Well

Container with themed background

.well - 26%
.well.well--lighter - 10%
.well.well--darker - 54%
.well.well--darkest - 76%
.well.well--full - 100%
.well.well--slim-fit - Without padding
.well.well--neutral - Neutral colour well

markup:
<div class="{$modifiers}">
  Content
</div>

Styleguide 3.13
*/

/*
 * 1. Disable bolding effect of text on a darker background
 */
.well {
  @include theme-opaque-background(26%);
  &--padded {
    padding-top: rhythm(10);
    padding-bottom: rhythm(10);
  }
  &--lighter {
    @include theme-opaque-background(10%);
  }
  &--darker {
    @include theme-opaque-background(54%);
  }
  &--darkest {
    @include theme-opaque-background(76%);
  }
  &--neutral {
    .theme &,
    & {
      background-color: mix($color-body, $white, 5%);
    }
  }
  &--full {
    @include theme-opaque-background(100%);
    color: $white;
    -webkit-font-smoothing: antialiased; /* 1 */
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }
}
