{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="wing--right {{ [config.container_class]|join('  |  ') }}">
    {% if labels.title %}
        <h2 class="title title--section  |  trailer">{{ labels.title|t(locales) }}</h2>
    {% endif %}

    <ul class="reset  |  trailer{{ show_short_list|default(0) ? '  |  short-list' }}">
        {% for event in model.events %}
            <li class="{{ show_short_list|default(0) ? '  |  short-list__item' :  '  |  leader--normal  |  trailer--normal' }}">
                {% include 'partials/event/short-list-item.html.twig' with {model: event} %}
            </li>
        {% endfor %}
    </ul>
</div>
