{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'layout  |  well')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <aside class="layout__cell layout__cell--aside layout__cell--divider  |  leader-inside--hero  |  trailer-inside--hero">
        <div class="wings">
            <div class="gutters">
                <h2 class="title title--section">Current issue</h2>

                <article class="leader">
                    <div class="publication-layout__cover">
                        <figure class="publication-cover">
                            <img class="publication-cover__image" src="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz" srcset="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz 480w,https://res.cloudinary.com/cta/image/upload/w_320/q6fohw6gnw1u1p5b5wzz 320w,https://res.cloudinary.com/cta/image/upload/w_240/q6fohw6gnw1u1p5b5wzz 240w" sizes="100vw, (min-width: 480px) 480px" alt="ICT Update 83: Youth e-agriculture entrepreneurship">
                        </figure>
                    </div>
                    <div class="publication-layout__body">
                        <p class="trailer--tiny">
                            <h3 class="block-link">Spore issue N.190</h3>
                        </p>
                        <h3 class="heading  |  trailer--tiny">Youth e-agriculture entrepreneurship</h3>
                        <div class="leader--normal">
                            <a class="publication-download publication-download--s trailer--tiny" href="" title="ICT Update 83: Youth   e-agriculture entrepreneurship">
                                <span class="publication-download__item">pdf</span>
                                <span class="publication-download__item">2 MB</span>
                            </a>
                            <a class="publication-download publication-download--s trailer--tiny" href="">
                                <span class="publication-download__item">epub</span>
                                <span class="publication-download__item">70 MB</span>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </aside>
    <div class="layout__cell layout__cell--main  |  leader-inside--hero  |  trailer-inside--hero">
        <div class="wings">
            <div class="gutters">
                <h2 class="title title--section">Past issues</h2>
                <div class="publication-grid  |  leader">
                    <article class="publication-grid__cell  |  trailer">
                        <div class="publication-layout__cover">
                            <figure class="publication-cover">
                                <img class="publication-cover__image" src="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz" srcset="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz 480w,https://res.cloudinary.com/cta/image/upload/w_320/q6fohw6gnw1u1p5b5wzz 320w,https://res.cloudinary.com/cta/image/upload/w_240/q6fohw6gnw1u1p5b5wzz 240w" sizes="100vw, (min-width: 480px) 480px" alt="ICT Update 83: Youth e-agriculture entrepreneurship">
                            </figure>
                        </div>
                        <div class="publication-layout__body">
                            <p class="trailer--tiny">
                                <h3 class="block-link">Spore issue N.190</h3>
                            </p>
                            <h3 class="heading  |  trailer--tiny">Youth e-agriculture entrepreneurship</h3>
                            <div class="leader--normal">
                                <a class="publication-download publication-download--s trailer--tiny" href="" title="ICT Update 83: Youth   e-agriculture entrepreneurship">
                                    <span class="publication-download__item">pdf</span>
                                </a>
                                <a class="publication-download publication-download--s trailer--tiny" href="">
                                    <span class="publication-download__item">EPUB</span>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="publication-grid__cell  |  trailer">
                        <div class="publication-layout__cover">
                            <figure class="publication-cover">
                                <img class="publication-cover__image" src="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz" srcset="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz 480w,https://res.cloudinary.com/cta/image/upload/w_320/q6fohw6gnw1u1p5b5wzz 320w,https://res.cloudinary.com/cta/image/upload/w_240/q6fohw6gnw1u1p5b5wzz 240w" sizes="100vw, (min-width: 480px) 480px" alt="ICT Update 83: Youth e-agriculture entrepreneurship">
                            </figure>
                        </div>
                        <div class="publication-layout__body">
                            <p class="trailer--tiny">
                                <h3 class="block-link">Spore issue N.190</h3>
                            </p>
                            <h3 class="heading  |  trailer--tiny">Youth e-agriculture entrepreneurship</h3>
                            <div class="leader--normal">
                                <a class="publication-download publication-download--s trailer--tiny" href="" title="ICT Update 83: Youth   e-agriculture entrepreneurship">
                                    <span class="publication-download__item">pdf</span>
                                </a>
                                <a class="publication-download publication-download--s trailer--tiny" href="">
                                    <span class="publication-download__item">EPUB</span>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="publication-grid__cell  |  trailer">
                        <div class="publication-layout__cover">
                            <figure class="publication-cover">
                                <img class="publication-cover__image" src="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz" srcset="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz 480w,https://res.cloudinary.com/cta/image/upload/w_320/q6fohw6gnw1u1p5b5wzz 320w,https://res.cloudinary.com/cta/image/upload/w_240/q6fohw6gnw1u1p5b5wzz 240w" sizes="100vw, (min-width: 480px) 480px" alt="ICT Update 83: Youth e-agriculture entrepreneurship">
                            </figure>
                        </div>
                        <div class="publication-layout__body">
                            <p class="trailer--tiny">
                                <h3 class="block-link">Spore issue N.190</h3>
                            </p>
                            <h3 class="heading  |  trailer--tiny">Youth e-agriculture entrepreneurship</h3>
                            <div class="leader--normal">
                                <a class="publication-download publication-download--s trailer--tiny" href="" title="ICT Update 83: Youth   e-agriculture entrepreneurship">
                                    <span class="publication-download__item">pdf</span>
                                </a>
                                <a class="publication-download publication-download--s trailer--tiny" href="">
                                    <span class="publication-download__item">EPUB</span>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="publication-grid__cell  |  trailer">
                        <div class="publication-layout__cover">
                            <figure class="publication-cover">
                                <img class="publication-cover__image" src="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz" srcset="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz 480w,https://res.cloudinary.com/cta/image/upload/w_320/q6fohw6gnw1u1p5b5wzz 320w,https://res.cloudinary.com/cta/image/upload/w_240/q6fohw6gnw1u1p5b5wzz 240w" sizes="100vw, (min-width: 480px) 480px" alt="ICT Update 83: Youth e-agriculture entrepreneurship">
                            </figure>
                        </div>
                        <div class="publication-layout__body">
                            <p class="trailer--tiny">
                                <h3 class="block-link">Spore issue N.190</h3>
                            </p>
                            <h3 class="heading  |  trailer--tiny">Youth e-agriculture entrepreneurship</h3>
                            <div class="leader--normal">
                                <a class="publication-download publication-download--s trailer--tiny" href="" title="ICT Update 83: Youth   e-agriculture entrepreneurship">
                                    <span class="publication-download__item">pdf</span>
                                </a>
                                <a class="publication-download publication-download--s trailer--tiny" href="">
                                    <span class="publication-download__item">EPUB</span>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="publication-grid__cell  |  trailer">
                        <div class="publication-layout__cover">
                            <figure class="publication-cover">
                                <img class="publication-cover__image" src="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz" srcset="https://res.cloudinary.com/cta/image/upload/w_480/q6fohw6gnw1u1p5b5wzz 480w,https://res.cloudinary.com/cta/image/upload/w_320/q6fohw6gnw1u1p5b5wzz 320w,https://res.cloudinary.com/cta/image/upload/w_240/q6fohw6gnw1u1p5b5wzz 240w" sizes="100vw, (min-width: 480px) 480px" alt="ICT Update 83: Youth e-agriculture entrepreneurship">
                            </figure>
                        </div>
                        <div class="publication-layout__body">
                            <p class="trailer--tiny">
                                <h3 class="block-link">Spore issue N.190</h3>
                            </p>
                            <h3 class="heading  |  trailer--tiny">Youth e-agriculture entrepreneurship</h3>
                            <div class="leader--normal">
                                <a class="publication-download publication-download--s trailer--tiny" href="" title="ICT Update 83: Youth   e-agriculture entrepreneurship">
                                    <span class="publication-download__item">pdf</span>
                                </a>
                                <a class="publication-download publication-download--s trailer--tiny" href="">
                                    <span class="publication-download__item">EPUB</span>
                                </a>
                            </div>
                        </div>
                        <a class="button button--stretch leader trailer" href="/en/ictupdate/issues">All issues</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</{{ config.container_tag|default('div') }}>
