{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <ol class="reset grid grid--teletubbies">
        {% for article in model.issues %}
            <li class="grid__cell  |  gutters  |  trailer">
                {% include 'partials/article/dossier.html.twig' %}
            </li>        
        {% endfor %}
    </ol>
</{{ config.container_tag|default('div') }}>
