{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}
<a class="site-navigation__brand  |  gutters" href="{{ route({'page': main_menu.brand_link.page|t(locales)}) }}">
    <img class="brand brand--extension" alt="{{ 'Apps4Ag' }}" src="{{ '/assets/images/logos/brands/logo-apps4ag.png' }}">
</a>
