<a class="site-navigation__brand  |  gutters" href="{{ route({'page': 'ictupdate'}) }}">
    <img class="brand brand--extension" alt="{{ 'CTA Publishing' }}" src="{{ '/assets/images/logos/brands/logo-cta-publishing.png' }}">
</a>
