{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
<a class="site-navigation__brand  |  gutters" href="{{ route({'page': main_menu.brand_link.page|t(locales)}) }}">
    <img class="brand brand--extension" alt="{{ 'Blog' }}" src="{{ '/assets/images/logos/brands/logo-cta-blog.png' }}">
</a>
