{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}
<a class="site-navigation__brand--cta  |  gutters" href="{{ route({'page': main_menu.brand_link.page|t(locales)}) }}">
    <figure class="brand brand--cta"><figcaption class="is-narrative">CTA Homepage</figcaption></figure>
</a>
