<a class="site-navigation__brand  |  gutters" href="">
    <div class="brand--extension brand--spore">
        <img class="brand" src="{{ '/assets/images/logos/brands/logo-spore.svg' }}" alt="{{ 'Spore Magazine' }}"/>
    </div>
</a>
