<a class="site-navigation__brand  |  gutters" href="{{ route({page: 'ictupdate'}) }}">
    <img class="image brand--extension" alt="{{ 'Spore Magazine' }}" src="{{ '/assets/images/logos/brands/logo-spore.png' }}">
</a>
