{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="layout layout--reverse trailer-inside--small">
    <div class="layout__cell">
        <div class="layout layout--split">
            <div class="layout__cell  |  gutters">
                <!-- Switch image based on active article -->
                <img src="https://res.cloudinary.com/cta/image/upload/w_1480,ar_3:2,f_auto,c_fill/ohwhjqxdtrp2qvspxlod" alt="placeholder">
            </div>
            <div class="layout__cell layout__cell--aside  |  wing--right">
                <ul class="reset  |  dossier">
                    <!-- Set .is-active or .is-current on active/current article -->
                    <li class="dossier__item is-active  |  divider divider--bottom  |  trailer trailer-inside  |  gutters">
                        <p class="meta">analysis</p>
                        <a class="is-heir" href="#">
                            <h3 class="heading heading--tile  |  leader--small  |  trailer--small">Strategies for scaling agricultural innovations</h3>
                        </a>
                        <p>by <a class="anchor" href="#">Clayton Wilson</a></p>
                    </li>
                    <li class="dossier__item  |  divider divider--bottom  |  trailer trailer-inside  |  gutters">
                        <p class="meta">analysis</p>
                        <a class="is-heir" href="#">
                            <h3 class="heading heading--tile  |  leader--small  |  trailer--small">Strategies for scaling agricultural innovations</h3>
                        </a>
                        <p>by <a class="anchor" href="#">Clayton Wilson</a></p>
                    </li>
                    <li class="dossier__item  |  divider divider--bottom  |  trailer trailer-inside  |  gutters">
                        <p class="meta">analysis</p>
                        <a class="is-heir" href="#">
                            <h3 class="heading heading--tile  |  leader--small  |  trailer--small">Strategies for scaling agricultural innovations</h3>
                        </a>
                        <p>by <a class="anchor" href="#">Clayton Wilson</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--aside  |  wing--left  |  gutters">
        <div class="trailer  |  post post--hero">
            <h2 class="heading heading--tile  |  gutters">Scaling: A high priority for agriculture</h2>
            <p class="post__intro  |  gutters">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
