/*
Miscellaneous

Styleguide 1.6.99
*/

@mixin hide() {
  position: absolute;
  left: -999em;
  top: -999em; /* IE pushed the text to the bottom of the page without this */
  // text-indent: 100%;
  // white-space: nowrap;
  // overflow: hidden;
}

@mixin show() {
  position: static;
  // text-indent: auto;
  // white-space: initial;
  // overflow: auto;
}

@mixin theme-count($count) {
  $number: $count;
  .theme-slider:nth-child(#{$count}) .section:after {
    content: "#{$number}";
  }
}

@mixin cta-logo($size: rhythm(52), $stroke: 6px) {
  margin-left: ((-10 / 52) * $size) + round($stroke / -2);
  margin-right: ((-10 / 52) * $size) + round($stroke / -2);
  background-image: svg-url("<svg width='#{$size}' height='#{$size}' viewBox='0 0 156 156' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><path id='a' d='M33 79.094V123h90V33H33v14.31c-.06.006-.118.01-.176.017C32.827 47.32 24 49 14 45c0 2-.076 20 10.914 29.56 2.957 2.76 5.66 4.084 8.086 4.534z'/><mask id='b' width='115' height='96' x='-3' y='-3'><path fill='#fff' d='M11 30h115v96H11z'/><use xlink:href='#a'/></mask></defs><g fill='none' fill-rule='evenodd'><use fill='#fff' xlink:href='#a'/><use stroke='#fff' stroke-width='#{$stroke}' mask='url(#b)' xlink:href='#a'/><path fill='#7BB010' d='M33 33h90v90H33z'/><path fill='#00662F' d='M94.433 45.664s-3.732-.356-5.75-.356c-5.358 0-15.434.828-22.68 6.377C56.895 58.66 54.86 68.662 53.765 74.04c-.18.89-1.236 3.552-1.58 4.015-.27.34-.54.706-.793 1.073-2.772 4.046-4.35 9.347-4.723 15.798-.15 2.04-.15 4.274.01 6.654.24 3.784.73 6.388.84 6.93.99 5.845 2.58 11.867 3.47 14.488h12.03c-.52-1.166-5.62-13.61-7.07-21.045-1.22-6.24-.76-10.746 1.6-15.533 1.75-2.672 4.17-3.397 5.47-3.59 1.09-.163 2.43-.214 3.86-.267 5.34-.203 11.98-.455 17-6.34C94.4 63.898 94.44 48.393 94.434 47.74l-.01-2.076z'/><path fill='#fff' d='M53.696 103.483c-1.467-7.755-.478-12.706 1.837-17.51 1.876-3.03 4.612-4.42 6.994-4.788 5.178-.8 13.653.86 19.3-5.97 9.95-12.037 9.88-27.485 9.88-27.485s-15.125-1.597-24.62 5.903c-10.77 8.508-10.79 22.11-12.063 24.61-.318.627-.733 1.234-1.177 1.855-.253.326-.494.663-.724 1.006-2.898 4.365-3.982 9.903-4.265 14.92-.135 1.927-.136 4.056.02 6.435.256 4.09.796 6.79.796 6.79 1.07 6.5 2.697 11.53 3.45 13.74H60c-1.353-3.26-5.013-12.69-6.304-19.52z'/><path fill='#00662F' d='M70.04 65.224c-3.573 4.074-4.23 6.416-4.23 6.416s-1.418 2.39-2.26.896c-.956-1.698.46-5.564 5.803-10.21 5.785-5.033 12.633-7.5 12.633-7.5S75.078 59.48 70.04 65.224z'/><path fill='#fff' d='M81.335 113.673c-1.528.374-3.227.806-5.96.806-5.36 0-11.552-2.72-11.552-10.33 0-7.01 4.9-10.5 11.522-10.5 2.044 0 4.032.46 5.96 1.04l-.432 4.35c-1.727-.95-3.397-1.42-5.24-1.42-3.8 0-6.28 2.77-6.28 6.52 0 3.95 2.795 6.34 6.71 6.34 1.757 0 3.544-.466 5.013-1.04l.26 4.212zm5.9-15.696h-4.952v-3.98H97.55v3.98h-4.955v16.156h-5.36V97.977zm21.26-3.98h-6.568l-7.633 20.136h5.443l1.585-4.3h7.548l1.497 4.3h5.877l-7.748-20.135zm-5.933 12.03l2.592-7.876h.058l2.39 7.88h-5.04z'/><path fill='#00662F' d='M54.1 70.183c-.594-1.314-1.115-3.538-1.115-3.538-.475-2.443-1.392-6.246-2.978-9.677-.41-1.214-1.23-2.616-2.348-3.966-.35-.44-.71-.86-1.09-1.24-2.19-2.142-5.11-3.97-8.31-4.32-2.33-.26-4.02-.25-5.45-.115C32.82 47.32 24 49 14 45c0 2-.076 20 10.914 29.56 3.634 3.39 6.884 4.615 9.708 4.713 3.024.53 6.553.35 10.456-1.258-.004.007 4.534-1.642 6.643-.524.45.43.88.9 1.26 1.43 1.85 2.2 2.68 4.34 2.27 7.45-.37 2.85-1.23 5.38-2.06 8.58l2.76 11.59c1.96-3.8 3.71-8 4.75-12.31 1.29-5.36 1.65-9.54.14-14.19-.78-2.426-6.34-9.43-6.72-9.837zm-6.356 38.998C45.256 114.47 41.108 120.85 40 123h13c-.367-1.47-5.256-13.82-5.256-13.82z'/><path fill='#fff' d='M44.924 68.104c-1.742.47-7.812-.54-11.653-2.412C23.03 60.698 20 55 20 55s6.902 5.727 13.385 7.615c6.48 1.89 10.74 2.437 11.362 2.493.622.058 1.255.182 1.617.582.702.767.057 2.008-1.44 2.414z'/></g></svg>");
  height: $size;
  width: $size;
}
