/*
theme

@mixin theme-color
@mixin theme-border
@mixin theme-opaque-background
@mixin theme-transparent-background

Styleguide 1.6.6
*/

// @mixin theme-color($transparency: 100%) {
//   color: $color-green;

//   @each $color_name, $color_value in $brand-colours {
//     .theme--#{$color_name} & {
//       color: $color_value;
//     }
//   }

//   @each $color_name, $color_value in $spore-colours {
//     .theme--#{$color_name} & {
//       color: $color_value;
//     }
//   }

//   .theme--dark & {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
// }

@mixin theme-color($shade: 100%) {
  color: mix($color-green, $color-body, $shade);

  @each $color_name, $color_value in $brand-colours {
    .theme--#{$color_name} & {
      color: mix($color_value, $color-body, $shade);
    }
  }

  @each $color_name, $color_value in $spore-colours {
    .theme--#{$color_name} & {
      color: mix($color_value, $color-body, $shade);
    }
  }

  .theme--dark & {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin theme-border($shade: 100%) {
  border-color: mix($color-green, $white, $shade);

  @each $color_name, $color_value in $brand-colours {
    .theme--#{$color_name} & {
      border-color: mix($color_value, $white, $shade);
    }
  }

  @each $color_name, $color_value in $spore-colours {
    .theme--#{$color_name} & {
      border-color: mix($color_value, $white, $shade);
    }
  }
}

@mixin theme-opaque-background($transparency) {
  background-color: mix($color-green, $white, $transparency);

  @each $color_name, $color_value in $brand-colours {
    .theme--#{$color_name} & {
      background-color: mix($color_value, $white, $transparency);
    }
  }

  @each $color_name, $color_value in $spore-colours {
    .theme--#{$color_name} & {
      background-color: mix($color_value, $white, $transparency);
    }
  }
}

@mixin theme-transparent-background($transparency) {
  @if unit($transparency) is "%" {
    $transparency: (100% - $transparency) / 100 / 1%;
  }
  background-color: $color-green;
  background-color: transparentize($color-green, $transparency);

  @each $color_name, $color_value in $brand-colours {
    .theme--#{$color_name} & {
      background-color: $color_value;
      background-color: transparentize($color_value, $transparency);
    }
  }

  @each $color_name, $color_value in $spore-colours {
    .theme--#{$color_name} & {
      background-color: $color_value;
      background-color: transparentize($color_value, $transparency);
    }
  }
}

@mixin theme-background() {
  background-color: $color-green;

  @each $color_name, $color_value in $brand-colours {
    .theme--#{$color_name} & {
      background-color: $color_value;
    }
  }

  @each $color_name, $color_value in $spore-colours {
    .theme--#{$color_name} & {
      background-color: $color_value;
    }
  }
}
